%section.inverse-section.section-lg.position-relative
	.container
		%span.diag-banner-bg
		.row.align-items-center
			.col-xl-7.col-lg-8.col-md-7
				.content
					%p.bold-font
						=current_page.data.title
					%h3.bold-font.mb-4
						Project Management Professional (PMP)® Live Classes Online
					
					.mt-4.mb-4
						%p
							%a.btn-primary.btn.mr-2.btn-sm-block.mb-3.mb-md-0{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
								View schedule and pricing
					.mt-4
						.media.align-items-center
							%img.align-self-center.mr-3{:src=>"../images/pmi-badge-circle.png", :width=>"80", :height=>"80" }
							.media-body
								%h6.mt-0.mb-0.bold-font
									Premier Authorized Training Partner (ATP) 
									%br
									of the Project Management Institute®
			.col-xl-5.col-lg-4.col-md-5
				.hero-video-container.mt-4.mt-lg-0.text-center
					%a.play-video{:href=>"#"}
						%img.max-width{:src=>"../images/live-virtual-classes/video-thumb.png", :width=>"500px"}