
-5.times do
	.row
		-2.times do
			.col-md-6
				.p-4
					.media
						%img.mr-4{:src=>"/images/icons/icon-24.svg"}
						.media-body
							%p.bold-font
								L24x7 Access to Interactive Course Lessons
							%p.body-small.light-text-color
								Each course milestone contains interactive training lessons designed for On-Demand learning and busy schedules. Complete the entire curriculum in order, or re-visit training lessons as many times as you like.

