;;;

"title": "Guarantee"

;;;


=partial"/live-virtual-classes/hero"
.page-nav-wrapper-outer
	.page-nav-wrapper
		.container
			.row
				.col
					.d-flex.justify-content-between.align-items-center
						.nav.page-nav.tabbed
							%a.nav-link{:href=>"/live-virtual-classes"}
								Overview
							%a.nav-link{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
								Schedule and pricing
							%a.nav-link{:href=>"/live-virtual-classes/included"}
								Included with class
							%a.nav-link.active{:href=>"/live-virtual-classes/guarantee"}
								Guarantee
							%a.nav-link{:href=>"/live-virtual-classes/testimonials"}
								Testimonials
						.action-container.d-none.d-md-block
							.d-flex.align-items-center
								%a.btn.btn-primary{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
									Schedule & pricing
#reached



%section.section-lg.pb-1
	.container
		.row
			.col
				.mb-5
					%h5.primary-text-color.bold-font
						Money Back Guarantee
		.row
			.col-md-7
				.mb-4
					.media.align-items-center
						%img.align-self-center.mr-3{:src=>"../images/badge-money-back.svg"}
						.media-body
							%h5.bold-font
								Money Back Guarantee
							%p
								%span.bold-font
									94% 
								of students recommend PMTraining
				.mb-5
					%p.bold-font
						We Guarantee Your PMP Success
					%p.body-small.light-text-color
						Enroll in any of our live PMP classes and enjoy our 100% money back guarantee. Unlike other providers, online classes offered by PMTraining combine experienced instructors and proven curricula, with cutting edge online tools designed to help you pass the certification training. We are so confident, we guarantee you will become a PMP after completing one of our classes.
				.mb-5
					%p.bold-font
						Our Commitment to You
					%p.body-small.light-text-color
						All classes offered by PMTraining rely on approved and authorized materials from the Project Management Institute (PMI). Content offered to students, both in-class and via our online systems, undergo continuous reviews and quality assessments.
			.col-md-5
				.p-4.mt-4.mt-md-0
					%img.max-width{:src=>"../images/live-virtual-classes/pmt-girl-laptop.png", :width=>"465"}
					.media.mt-4
						%img.mr-3{:src=>"../images/data-check.svg"}
						.media-body
							%h6.light-text-color
								Satisfaction rate based on post-class survey data from Aug 2019 - Sep 2020. Data collected using standardized survey, sent to 1274 students, asking if student would recommend their class to a friend.
					.mt-4
						%p.light-text-color
							Trustpilot widget

%section.section-lg.off-white-bg
	.container
		.row
			.col-lg-10
				.mb-5
					%h5.bold-font.mb-5
						Our money back guarantee
					%p.bold-font.mb-5
						We guarantee your PMP success and provide a true 100% money-back guarantee with these simple requirements:
					-3.times do
						.media.mb-4.align-items-center
							%img.mr-4{:src=>"../images/check-circle-sm.svg"}
							.media-body
								%p.body-small.mb-0
									If you do not pass the PMP exam in three attempts, we will refund your entire class enrollment fee, provided all exam attempts occurred within 120 calendar days of your PMTraining class concluding
					.mt-5
						%p.body-small.mb-0.light-text-color
							If you do not pass the PMP exam in three attempts, we will refund your entire class enrollment fee, provided all exam attempts occurred within 120 calendar days of your PMTraining class concluding
		.row
			.col-lg-10
				%h5.bold-font.mb-5
					Class Policies and Student Information
				-3.times do
					.media.mb-4.align-items-center
						%img.mr-4{:src=>"../images/check-circle-sm.svg"}
						.media-body
							%p.body-small.mb-0
								%span.bold-font
									Full Refund Policy: 
								Students who have not accessed class materials or certificates may receive a full refund up to 48 hours prior to the original class start, less the cost of PMI's student license. For refunds within 48 hours of the original class start, there will be a $150 USD cancellation fee for multi-week classes and a $250 USD cancellation fee for Bootcamp classes.
				.mt-5
					%p.body-small.mb-0.light-text-color
						Please note, an updated PMP exam was released on January 2, 2021. Students who fall under our prior exam guarantee (failing an exam within 30 days of their class concluding) and have failed an exam before 2021 will be allowed a transfer to an exam class of equal or lesser value to their original class for the 2021 PMP exam with a $99 USD change fee. The student must include proof from PMI of their exam attempt. This fee is required by PMI to cover the cost of the new exam curriculum and the new course must be requested within one year of the failed exam attempt. You must have earned your class completion certificate prior to your failed exam attempt.
				  
				  


=partial"shared/quote-with-actions-2"

