;;;

"title": "Overview"

;;;



=partial"/live-virtual-classes/hero"
.page-nav-wrapper-outer
	.page-nav-wrapper
		.container
			.row
				.col
					.d-flex.justify-content-between.align-items-center
						.nav.page-nav.tabbed
							%a.nav-link.active{:href=>"/live-virtual-classes"}
								Overview
							%a.nav-link{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
								Schedule and pricing
							%a.nav-link{:href=>"/live-virtual-classes/included"}
								Included with class
							%a.nav-link{:href=>"/live-virtual-classes/guarantee"}
								Guarantee
							%a.nav-link{:href=>"/live-virtual-classes/testimonials"}
								Testimonials
						.action-container.d-none.d-md-block
							.d-flex.align-items-center
								%a.btn.btn-primary{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
									Schedule & pricing
							
#reached


%section.off-white-bg
	.container
		.row
			.col-md-4.border-right.no-border-sm
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"/images/badge-access-anywhere.png", :width=>"80"}
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Desktop & mobile optimized
			.col-md-4.border-right.no-border-sm
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"/images/badge-trustpilot.png", :width=>"100" }
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Excellent rating
			.col-md-4
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"/images/pmi-badge-circle.png", :width=>"80" }
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Authorized Training Partner

%section.section-lg
	.container
		.row.align-items-center
			.col-md-6.order-md-2
				.text-center
					%img.max-width.mb-5.mb-md-0{:src=>"/images/live-virtual-classes/hero-image.png", :width=>"380"}
			.col-md-6.order-md-1
				%h5.primary-text-color.bold-font.mb-4
					Attend Live PMP Certification Courses and Classes Online
				%p
					Work smarter and earn more with the world's leading project management certification. As a Project Management Professional (PMP)® you will understand how to apply predictive, agile, and hybrid approaches across industries, using the global language of PMI standards.
				%p
					Our Live Virtual PMP classes are taught by expert certified PMP training instructors who bring their real-world and relevant experience to the students. PMTraining now offers evening and weekend classes to accomodate all schedules.
				%a.btn.btn-primary.mt-3{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
					View schedule and pricing

%section.section-lg.pt-2
	.container
		.row
			.col-lg-7
				.mb-4.m-lg-0
					.mb-5
						%p.bold-font
							Why Get PMP Certified?
					-2.times do
						.row
							-2.times do
								.col-md-6
									.media.mb-3
										%img.mr-4{:src=>"/images/check-circle-sm.svg"}
										.media-body
											%p.body-small
												Through 2027 there will be 2.2 million new jobs annually that require project-oriented roles, creating high demand for PMPs.
			.col-lg-1
			.col-lg-4
				.mb-5
					%p.bold-font
						What You Will Learn
				%ul.list-unstyled.default-list
					-3.times do
						%li.body-small.mb-3
							People, Process, and Business milestones that reflect soft skills, technical approaches, and organizational strategy of project management.
					
				

%section.section-lg.pb-5.gradient-bg
	.container
		.row
			.col
				.mb-5
					%h5.bold-font
						Included with every course

				=partial"live-virtual-classes/included"



=partial"shared/quote-with-actions-2"



%section.gradient-bg.section-lg
	.container
		.row
			.col
				.mb-5
					%h5.bold-font
						Meet your instructors
					%p.body-small
						Learn from the best. PMTraining instructors average 20 years of project management experience.

		.row
			.col
				=partial"/shared/instructor-slider-single"
				.mt-4
					=partial"/shared/instructor-slider"


%section.section-lg
	.container
		.row
			.col-md-8
				.mb-5
					%h5.bold-font
						A PMP Curriculum Focused on Exam Success
				.mb-5
					%p.body-small.light-text-color
						Built around accelerated training techniques and carefully designed learning materials, this intense, focused PMP training delivers a passing PMP® Exam score on your very first try. You will be prepared to take the PMP exam, following our carefully designed class curriculum.
		.row
			.col
				=partial"/live-virtual-classes/curriculum-accordian"


%section.section-lg.pt-3
	.container
		.row
			.col-md-7
				.mb-4
					.media.align-items-center
						%img.align-self-center.mr-3{:src=>"/images/badge-money-back.svg"}
						.media-body
							%h5.bold-font
								Money Back Guarantee
							%p
								%span.bold-font
									94% 
								of students recommend PMTraining
				.mb-5
					%p.bold-font
						We Guarantee Your PMP Success
					%p.body-small.light-text-color
						Enroll in any of our live PMP classes and enjoy our 100% money back guarantee. Unlike other providers, online classes offered by PMTraining combine experienced instructors and proven curricula, with cutting edge online tools designed to help you pass the certification training. We are so confident, we guarantee you will become a PMP after completing one of our classes.
				.mb-5
					%p.bold-font
						Our Commitment to You
					%p.body-small.light-text-color
						All classes offered by PMTraining rely on approved and authorized materials from the Project Management Institute (PMI). Content offered to students, both in-class and via our online systems, undergo continuous reviews and quality assessments.
				%a.btn-secondary.btn{:href=>"#"}
					Read Full Terms & Conditions
			.col-md-5
				.p-4.mt-4.mt-md-0
					%img.max-width{:src=>"/images/live-virtual-classes/pmt-girl-laptop.png", :width=>"465"}
					.media.mt-4
						%img.mr-3{:src=>"/images/data-check.svg"}
						.media-body
							%h6.light-text-color
								Satisfaction rate based on post-class survey data from Aug 2019 - Sep 2020. Data collected using standardized survey, sent to 1274 students, asking if student would recommend their class to a friend.
					.mt-4
						%p.light-text-color
							Trustpilot widget


#testimonials.anchor
%section.gradient-bg.section-lg
	.container
		.row
			.col
				.mb-5
					.d-block.d-md-flex.align-items-center.justify-content-between
						.text
							%h5.bold-font
								PMP certification reviews
							%p.body-small
								So Effective, We Guarantee You Will Pass the PMP Exam.
						%h6
							Trustpiolt badge
		.row
			.col
				=partial"/shared/testimonial-slider"




%section.section-lg
	.container
		.row
			.col
				%h5.text-center.bold-font
					Enroll online or by phone
		.row
			.col-md-4
				.text-center
					%img.max-width.mb-4{:src=>"/images/live-virtual-classes/enroll-online.png", :width=>"286"}
					%p.body-large
						Enroll in an Online PMP Class
			.col-md-4
				.text-center
					%img.max-width.mb-4{:src=>"/images/live-virtual-classes/enroll-live.png", :width=>"286"}
					%p.body-large
						Attend Live Classes
			.col-md-4
				.text-center
					%img.max-width.mb-4{:src=>"/images/live-virtual-classes/enroll-pass.png", :width=>"286"}
					%p.body-large
						Pass the PMP Exam, Guaranteed
		.row
			.col
				.text-center.mt-5
					%a.btn-primary.btn.btn-sm-block.mb-3{:href=>"#"}
						Get started now
					%p.bold-font
						Or call 
						%span.link-color
							1-800-581-9819



=partial"shared/sub-footer-promo-1"


