%section.inverse-section.section-lg.banner{:style=>"background-image:url(../images/on-demand-course/banner-1.jpg);"}
	.container
		.row.align-items-center
			.col-xl-6.col-lg-7
				.content
					%h3.bold-font.mb-4
						PMP Foundation Course
					%p.d-inline.bold-font.line-through.mr-2
						Originally $348 USD
					%p.d-inline.success-text-color.bold-font
						Save $150 Instantly
					.mt-4.mb-4
						%p
							%a.btn-primary.btn.mr-2{:href=>"/welcome/sign-up"}
								Register now
							%a.btn-terciary.btn{:href=>"/welcome/sign-up"}
								Course demo
					%p.bold-font
						%u
							%a{:href=>"#"}
								%i.material-icons.align-middle
									add
								Add PMI-ACP Practice Exams and Save an Extra $49
					.mt-4
						.media.align-items-center
							%img.align-self-center.mr-3{:src=>"../images/pmi-badge-circle.png", :width=>"80", :height=>"80" }
							.media-body
								%h6.mt-0.mb-0.bold-font
									Premier Authorized Training Partner (ATP) 
									%br
									of the Project Management Institute®


%section.off-white-bg
	.container
		.row
			.col-md-4.border-right.no-border-sm
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"../images/badge-access-anywhere.png", :width=>"80"}
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Desktop & mobile optimized
			.col-md-4.border-right.no-border-sm
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"../images/badge-trustpilot.png", :width=>"100" }
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Excellent rating
			.col-md-4
				.d-flex.justify-content-md-center
					.media.align-items-center.mb-2.mt-2
						%img.align-self-center.mr-3{:src=>"../images/pmi-badge-circle.png", :width=>"80" }
						.media-body
							%p.body-small.mt-0.mb-0.bold-font
								Authorized Training Partner
%section
	.container
		.row
			.col
				%p.text-center.body-small
					For the PMP® Exam (latest version)
		.row
			.col
				.card.shadow-elevation-2.mt-4
					.card-body.p-5
						.row
							.col-md-4.border-right.no-border-sm
								.text-center.mb-3.mb-md-0
									%p.mb-2.body-small
										Contact Hours
									%p.mb-0.bold-font
										35 PMI Contact Hours
							.col-md-4.border-right.no-border-sm
								.text-center.mb-3.mb-md-0
									%p.mb-2.body-small
										PDUs
									%p.mb-0.bold-font
										35 PDUs
							.col-md-4
								.text-center
									%p.mb-2.body-small
										Course access
									%p.mb-0.bold-font
										24 x 7 Online access
%section.section-lg
	.container
		.row.align-items-center
			.col-md-5.order-md-2
				.text-center
					%img.max-width.mb-5.mb-md-0{:src=>"../images/on-demand-course/foundation-on-demand-dude.png", :width=>"315"}
			.col-md-7.order-md-1
				%h5.primary-text-color.bold-font.mb-4
					On-Demand Course Available 24x7
				%p
					Flexible PMP Boot Camp online access.  Any time, anywhere, any device. 
				%p
					Our PMP Foundation course focuses on the highlights of the PMP certification, as well as summary level subject matter and key points pertaining to the PMP Domains and Knowledge Areas.
				%p
					The material in the online PMP Boot Camp course is designed to be used as an overview of the PMP certification; complementary to live class instruction; or as a refresher course for existing credential holders. This is not an exam prep course.

%section.off-white-bg.section-lg
	.container
		.row
			.col
				%p.bold-font.mb-5
					Registration cost
		.row
			.col
				.card{:style=>"max-width:360px;"}
					.card-body.shadow-elevation-2
						.row
							.col.border-right
								.block
									.top
										%h5.mb-0.d-inline.mr-2.align-middle
											$198
										%p.mb-0.d-inline.line-through.light-text-color.align-middle
											$348
									.bottom
										%p.mb-0.text-danger
											Save $150 instantly
							.col
								.block
									.top.mt-2.text-center
										%h6.mb-0
											Starting at $18/mo with
									.d-flex.justify-content-center
										%a{:href=>"#"}
											.media.align-items-center.mb-2.mt-1
												%img.align-self-center.mr-2{:src=>"../images/affirm-logo-sm.png", :width=>"50"}
												.media-body
													%h6.mb-0.mt-2.light-text-color
														Learn more
						%ul.list-unstyled.mt-4.mb-4
							%li.body-small.light-text-color.mb-2
								%i.material-icons.align-middle.mr-2
									check
								90 day access
							%li.body-small.light-text-color.mb-2
								%i.material-icons.align-middle.mr-2
									check
								24x7 support
							%li.body-small.light-text-color
								%i.material-icons.align-middle.mr-2
									check
								Another value item
						%a.btn-primary.btn.btn-block{:href=>"/welcome/sign-up"}
							Register now

%section.section-lg.pb-5
	.container
		.row
			.col
				.mb-5
					%h5.bold-font
						Included with every course
		-3.times do
			.row
				-2.times do
					.col-md-6
						.p-4
							.media
								%img.mr-4{:src=>"../images/icons/icon-24.svg"}
								.media-body
									%p.bold-font
										L24x7 Access to Interactive Course Lessons
									%p.body-small.light-text-color
										Each course milestone contains interactive training lessons designed for On-Demand learning and busy schedules. Complete the entire curriculum in order, or re-visit training lessons as many times as you like.

%section
	.container
		.row
			.col
				.mb-3
					%p.text-center
						Access intensive course lessons without limitation.
				%p.text-center
					%a.btn-primary.btn.mr-2{:href=>"/welcome/sign-up"}
						Register now
					%a.btn-terciary.btn{:href=>"/welcome/sign-up"}
						Course demo

		.row.justify-content-center
			.col-md-10
				.mt-5
					.row
						.col-9
							.media
								%img.mr-4{:src=>"../images/quote.svg"}
								.media-body
									%h4.medium-font
										Great class, the exam prep portal was an amazing component in addition to the excellent class... A great combination.
									%p.body-large.bold-font.mb-0
										Bernard Gonzales
									%p.body-small.light-text-color
										(MBA, PMP)
						.col-3
							%img.max-width{:src=>"../images/quote-avatar-1.png", :width=>"229"}
		.row
			.col
				.mt-4.mb-4
					%p.light-text-color.text-center
						TrustPoilet Widget	

%section.section-lg
	.container
		.row
			.col-md-8
				.mb-5
					%h5.bold-font
						Course Curriculum
				.mb-5
					%p.bold-font
						Comprehensive PMI-ACP Curriculum included with this On Demand Certification Course
					%p.body-small.light-text-color
						Below is the detailed curriculum covered by this PMI Agile Certified Practitioner (PMI-ACP) certification course. Students will come away with a thorough understanding of the most popular Agile methodologies with Agile bootcamp training, and will be prepared to pass the PMI-ACP exam.
		.row
			.col
				=partial"/on-demand-course/curriculum-accordian"


%section.off-white-bg.section-lg.pb-5
	.container
		.row
			.col
				.mb-5
					.d.flex.align-items-center.justify-content-between
						%h5.bold-font.d-inline
							What Our Students are Saying
						%h6.d-inline
							Trustpiolt badge
		.row
			.col
				=partial"/shared/testimonial-slider"


%section.inverse-section.section-lg
	.container
		.row.align-items-center
			.col-md-6
				.text-md-left.text-center
					%h4.bold-font.mb-2
						At Your Desk or In Your Pocket
					%p.body-large
						Access this PMI-ACP On-Demand course from any connected device
					.mt-4.mb-4
						%p
							%a.btn-primary.btn.mr-2{:href=>"/welcome/sign-up"}
								Register now
							%a.btn-terciary.btn{:href=>"/welcome/sign-up"}
								Course demo
			.col-md-6
				%img.align-self-center.full-width{:src=>"../images/responsive-suite.png", :width=>"544" }