.card{
	border-color:$border-color;
}

.border-bottom-card{
	box-shadow:$box-shadow-elv-one;
	border-bottom:4px solid $link-color;
}

.shadow-elevation-1{
	box-shadow:$box-shadow-elv-one;
}
.shadow-elevation-2{
	box-shadow:$box-shadow-elv-two;
}
.shadow-elevation-3{
	box-shadow:$box-shadow-elv-three;
}

.checkout-card{
	border-color:#C5D0DC!important;
	.card-header, .card-body{
		border-color:#C5D0DC!important;
	}
	.card-header{
		background-color:#F0F7FF;
	}
	.card-body{
		background-color:#FBFDFF;
	}
}