
.form-control{
  border-radius: $base-border-radius;
  border-color:$border-color;
	&:focus{
		box-shadow:none;
		border-color:$link-color;
	}
}



.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholder-color;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholder-color;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $placeholder-color;
}


//checkout form

.card-info{
  position:absolute;
  top:0px;
  right:0px;

  img{
    width:250px;
  }
  @include breakpoint(lg) {
    top:20px;
    right:20px;
  }
  @include breakpoint(md) {
    top:20px;
    right:20px;
    img{
      width:200px;
    }
  }
  @include breakpoint(sm) {
    position:relative;
    top:5px;
    right:0;
    img{
          width:275px;
          margin:0 auto;
          text-align: center;
        }
  }
}



//buy options


.buy-options{

  .list-group-inner {
    position: relative;
  }

  .list-group-item {
    user-select: none;
    border-width: 2px;
    margin-bottom: 10px;
  }

  .list-group input {
    &[type="checkbox"] {
      display: none;
      + .list-group-item {
        cursor: pointer;

        &:before {
          content: "";
          margin-right: 1.3em;
        }
      }
      &:checked + .list-group-item {
        background-color: tint($link-color, 90%);
        border-color:$link-color;
        &:before {
          color: inherit;
        }
      }
    }
    &[type="radio"] {
      position: absolute;
      top: 23px;
      left: 15px;
      z-index: 99;
      + .list-group-item {
        cursor: pointer;
        &:before {
          content: "";
          margin-right: 1.3em;
        }
      }
      &:checked + .list-group-item {
        background-color: tint($link-color, 90%);
        border-color:$link-color;
        &:before {
          color: inherit;
        }
      }
    }
  }


}
