ul.timeline-list{
	li{
		padding-left:20px;
		position:relative;
		&:after{
			position:absolute;
			content: "";
			width:7px;
			height:7px;
			border-radius:7px;
			background:$link-color;
			left:0;
			top:7px;
		}
		&:before{
			position:absolute;
			content: "";
			width: 2px;
			height: 34px;
			background:tint($link-color,80%);
			left:2.5px;
			top:7px;
		}
		&:last-of-type{
			&:before{
				display: none;
			}
		}
	}
}