
//fixes scroll position on the sticky scroll

.anchor{
	padding-top:100px;
	margin-top:-100px;
}



//base curriculum accordian

.curriculum-accordian{
	border:none;
	.card{
		border:none;
		margin:10px;
		.card-header{
			cursor:pointer;
			background:$off-white-dark-color;
			border:none;
			padding: 20px;
			padding-left:60px;
			position:relative;
			font-family: $bold-font-name;
			&:before{
				content:"remove";
				position:absolute;
				top:calc(50% - 10px);
				left:25px;
				font-family: 'Material Icons';
				color:$link-color;
				font-weight: normal;
				font-style: normal;
				letter-spacing: normal;
				text-transform: none;
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				direction: ltr;
				-webkit-font-feature-settings: 'liga';
				-webkit-font-smoothing: antialiased;

			}
			&.collapsed{
				font-family: $regular-font-name;
				&:before{
					content:"add";
					color:$light-text-color;
				}
			}
		}
		.card-body{
			background:$off-white-dark-color;
			padding-left:65px;
			padding-top:0;
			padding-bottom:30px;
		}
	}
	.curriculum-accordian-inner{
		.card{
			margin:0;
			.card-header{
				padding:10px;
				padding-left:30px;
				font-family:$bold-font-name;
				&:before{
					left:0px;
					top:calc(50% - 12px);
				}
				&.collapsed{
					font-family:$regular-font-name;
				}
			}
			.card-body{
				padding-bottom:10px;
				padding-left:30px;
			}
		}
	}
}



//base page nav




.page-nav-wrapper-outer{
	position: sticky;
	position: -webkit-sticky;
	top: 59px;
	z-index: 2;
	display: block;
	clear: both;
	@include breakpoint(md) {
		top:59px;
	}
	.page-nav-wrapper{
		background:white;
	    display: inline-block;
	    width: 100%;
	    box-shadow:$box-shadow-elv-two;
	    top: 0;
	    z-index: 2;
	    transition: all .3s ease;
	    position:relative;

			.page-nav{
				@include breakpoint(md) {
					overflow: auto;
					white-space: nowrap;
					width:100%;
					display: block;
				}
				a.nav-link{
					font-size: 14px;
					padding:25px 20px;
					color:$text-color;
					@include breakpoint(md) {
						display: inline-block;
						padding:15px 10px;
						font-size: 12px;
					}
					&.active{
						font-family: $bold-font-name;
						color:$link-color;
					}
					&:hover{
						color:$link-color;
					}
					&:first-of-type{
						margin-left:0;
					}
				}
				&.tabbed{
					a.nav-link{
						&.active{
							border-bottom:3px solid $link-color;
						}
					}
				}
			}

	}


    .action-container{
    	opacity: 0;
    	transition-duration: .3s;
    	.btn{
    		@include breakpoint(md) {
				font-size: 12px;
				padding: 8px;
				width: 136px;
    		}
    	}
    }
    &.show-actions{
    	.action-container{
    		opacity: 1;
    	}
    }


}


.nav-horz-tabbed{
	a.nav-link{
		padding:0rem 1rem;
		padding-right:0;
		margin:0 0 1.5rem 0;
		line-height: 1;

		&.active{
			color:$text-color;
			border-left:4px solid $link-color;
		}
	}
	&.sm{
		font-size: 12px;
		a.nav-link{
			margin:0 0 1rem 0;
		}
	}
}



