
//sections
section{
  padding:$baseline*2 0;
  &.section-lg{
    padding:$baseline*4 0;
    @include breakpoint(sm) {
      padding:$baseline*2 0;
    }
  }
  &.inverse-section{
  	background-color:shade($link-color,50%);
  	@extend %white_text;
    .success-text-color{
      color:tint($success-color,50%)!important;
    }
    a{
      color:tint($link-color,50%);
      &:hover{
        color:tint($link-color,70%);
      }
    }
  }
  &.off-white-bg{
  	background-color:$off-white-dark-color;
  }
  &.gradient-bg{
    background-image: linear-gradient(0deg, #FFFFFF 0%, #F9FCFD 100%);
  }

}


section.banner{
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
    @include breakpoint(lg) {
      // background-image:none!important;
      .content{
        padding:30px;
        padding-left:0;
        background-color: rgba(10,69,94,.9);
      }
    }
    @include breakpoint(md) {
      // background-image:none!important;
      .content{
        padding:30px;
      }
    }
    @include breakpoint(sm) {
      background-image:none!important;
      .content{
        padding:0;
      }
    }
    &.banner-light{
      @include breakpoint(lg) {
        .content{
          background-color: rgba(247,251,252,.9);
        }       
      }
    }
}



.diag-banner-bg{
  background-image: linear-gradient(90deg, #0B7099 0%, #138ABB 71%);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50% - 68px);
  right: 0;
  background-size: cover;
  clip-path: polygon(100% 313%, 100% 0%, 0% 0%);
}

.hero-video-container{
  .play-video{
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    img{
      transition-duration: .2s;
      @include breakpoint(sm) {
        width:300px;
      }
    }
  }
}
