
//sections
section{
  padding:$baseline*2 0;
  &.section-lg{
    padding:$baseline*4 0;
    @include breakpoint(sm) {
      padding:$baseline*2 0;
    }
  }
  &.inverse-section{
  	background-color:shade($link-color,50%);
  	@extend %white_text;
  }
  &.off-white-bg{
  	background-color:$off-white-dark-color;
  }

}


section.banner{
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
    @include breakpoint(lg) {
      background-image:none!important;
    }
}
