// typography baselines and @font face setups


@font-face {
    font-family: 'socialicoregular';
    src: url('../font/socialico-webfont.eot');
    src: url('../font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/socialico-webfont.woff') format('woff'),
         url('../font/socialico-webfont.ttf') format('truetype'),
         url('../font/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../font/museosans-100-webfont.eot');
    src: url('../font/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-100-webfont.woff') format('woff'),
         url('../font/museosans-100-webfont.ttf') format('truetype'),
         url('../font/museosans-100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../font/museosans-300-webfont.eot');
    src: url('../font/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-300-webfont.woff') format('woff'),
         url('../font/museosans-300-webfont.ttf') format('truetype'),
         url('../font/museosans-300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../font/museosans_500-webfont.eot');
    src: url('../font/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_500-webfont.woff') format('woff'),
         url('../font/museosans_500-webfont.ttf') format('truetype'),
         url('../font/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../font/museosans_700-webfont.eot');
    src: url('../font/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_700-webfont.woff') format('woff'),
         url('../font/museosans_700-webfont.ttf') format('truetype'),
         url('../font/museosans_700-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../font/museosans_900-webfont.eot');
    src: url('../font/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_900-webfont.woff') format('woff'),
         url('../font/museosans_900-webfont.ttf') format('truetype'),
         url('../font/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


//text transforms

.text-uppercase{
  text-transform:uppercase;
}

//text colors

.extra-light-text-color{
  color:$extra-light-text-color!important;
}

.light-text-color{
  color:$light-text-color!important;
}

.text-color{
  color:$text-color!important;
}

.success-text-color{
  color:$success-color!important;
}

.dark-text-color{
  color:$dark-text-color!important;
}

.primary-text-color{
  color:$primary-color!important;
}



//alerts

.text-success{
  color:$success-color!important;
}

.text-warning{
  color:$warning-color!important;
}

.text-danger{
  color:$danger-color!important;
}

//links

.link-color{
  color:$link-color;
}




//font families

.light-font{
  font-weight: normal;
  font-family: 'museo_sans_100regular';
}

.regular-font{
    font-weight: normal;
    font-family: 'museo_sans_500regular';
}

.medium-font{
    font-weight: normal;
    font-family: 'museo_sans_700regular';
}

.bold-font{
    font-weight: normal;
    font-family: 'museo_sans_900regular';
}


.social-font{
    font-weight: normal;
    font-family: 'socialicoregular';
}






//font color

.primary-text-color{
  color:$primary-color!important;
}

.secondary-text-color{
  color:$secondary-color!important;
}



//font size

.micro-text{
  font-size:0.7rem;
}


//font base

h1{
  font-size:50px;
  line-height:1.1em;
  font-weight: normal;
  @include breakpoint(md) {
    font-size:44px;
  }
  @include breakpoint(sm) {
    font-size:34px;
  }
}

h2{
  font-size:40px;
  line-height:1.28em;
  font-weight: normal;
  @include breakpoint(md) {
    font-size:36px;
  }
  @include breakpoint(md) {
    font-size:32px;
  }
}

h3{
  font-size:36px;
  line-height:1.28em;
  font-weight: normal;
  @include breakpoint(md) {
    font-size:32px;
  }
  @include breakpoint(md) {
    font-size:28px;
  }
}

h4{
  font-size:32px;
  line-height:1.28em;
  font-weight: normal;
  @include breakpoint(md) {
    font-size:28px;
  }
  @include breakpoint(sm) {
    font-size:24px;
  }
}

h5{
  font-size:24px;
  line-height:1.28em;
  font-weight: normal;
  @include breakpoint(md) {
    font-size:18px;
  }

}

h6{
  font-size:12px;
  line-height:1.28em;
  font-weight: normal;
}

p{
    @include breakpoint(md) {
    font-size:14px;
  }
}


.body-small{
  font-size: 14px;
  line-height:1.28em;
}
.body-large{
  font-size: 20px;
  line-height:1.4em;
  @include breakpoint(md) {
    font-size:18px;
  }
  @include breakpoint(sm) {
    font-size:16px;
  }
}

//lists


ul.check-list{
    list-style: none;
    padding: 0;
    li{
      font-size: 16px;
      padding-left: 1.3em;
      margin-bottom:5px;
      &:before{
        content: "check"; /* FontAwesome Unicode */
        font-family: Material Icons;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
        position:relative;
        top:4px;
        font-size:20px;
        color:font-color;
      }
    }
  }


ul.icon-list{
  li{
    font-size: 14px;
    line-height: 20px;
    i{
      font-size: 14px;
      position:relative;
      top:3px;
      margin-right: 5px;
    }
  }
}

ul.icon-list-better{
  li{
    line-height: 1.3rem;
    position:relative;
    &:before{
      font-family: 'material icons';
      content: 'check';
      color: $primary-color;
    }
    &.no-deal{
      color:$light-text-color;
      &:before{
        color:$light-text-color;
        content: 'clear';
      }
    }
  }
}


.line-through{
  text-decoration: line-through;
}

hr{
  border-color:$border-color;
}

//truncate

.truncate-text{
  webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    width: 100%!important;
}


//mobile

  @include breakpoint(md) {


  }


  @include breakpoint(sm) {

    .text-center-sm{
      text-align:center!important;
    }
  }
