%footer.primary-footer
	.container
		.row
			.col
				%img.mb-5{:alt => "", :src => "/images/logo.svg", :width => "320"}
		.row
			.col-lg-10
				.row
					.col-md-3.col-sm-6
						.mb-4.mb-md-0
							%p.body-small.bold-font.mb-2
								About
							%ul.list-unstyled
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"/"}
											Who We Are
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"/#faq"}
											Get Our Newsletter
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"/market/about"}
											Privacy Policy
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"/market/for-buying-agents"}
											Refund Policy
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											Terms and Conditions
					.col-md-3.col-sm-6
						.mb-4.mb-md-0
							%p.body-small.bold-font.mb-2
								Partner
							%ul.list-unstyled
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											Courseware Licensing
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											Affiliate Program
					.col-md-3.col-sm-6
						.mb-4.mb-md-0
							%p.body-small.bold-font.mb-2
								Our certifications
							%ul.list-unstyled
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											PMP® Certification
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											PMI-ACP® Certification
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											CAPM® Certification
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											ITIL® Certification
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											Earn PDUs
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											SCRUM
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											PM Foundation
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"#"}
											CISSP® & IT Security
					.col-md-3.col-sm-6
						.mb-4.mb-md-0
							%p.body-small.bold-font.mb-2
								Connect
							%ul.list-inline.social-menu
								%li.list-inline-item
									%a.light-text-color{:href=>"/market/about/#contact"}
										%span.social-font
											F
								%li.list-inline-item
									%a.light-text-color{:href=>"#"}
										%span.social-font
											L
								%li.list-inline-item
									%a.light-text-color{:href=>"#"}
										%span.social-font
											I
							%p.body-small.bold-font.mb-2
								Support
							%ul.list-unstyled
								%li
									%p.body-small.mb-2
										%a.light-text-color{:href=>"/market/about/#contact"}
											Contact Us
			.col-lg-2
				.text-lg-right
					%img{:alt => "", :src => "/images/pmi-authorized-partner-badge-1.png", :width => "134"}
		.row.mt-5
			.col-md-9
				%h6.extra-light-text-color
					"PMI", "PMP", "PgMP", "CAPM", "PMI-ACP", "PMI-PBA", "PMBOK" and the PMI Authorized Training Partner Logo are marks of Project Management Institute, Inc. ITIL ® ITIL is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS Limited. All rights reserved. Worldwide Experts in Project Management Professional (PMP)® Training Copyright © 2021, All rights reserved.