.mobile-header-container.fixed-top.d-block.d-lg-none
  .mobile-header
    .mobile-pre-header
      .container-fluid
        .row.align-items-center
          .col
            .d-flex.justify-content-between.align-items-center
              %a.nav-link.one-line-height{:href=>"/cart"}
                %i.material-icons-outlined
                  shopping_cart
              %a{:href=>"/"}
                %img{:alt => "", :src => "/images/logo-no-tag.svg", :width => "118",}
              %a.nav-link.one-line-height.mobile-menu-toggle{:href=>"#"}
                %i.material-icons
                  menu



.mobile-menu-container.d-block.d-lg-none.mobile-menu-hidden
  .mobile-menu.fixed-top
    .mobile-pre-header
      .container-fluid
        .row.align-items-center
          .col
            .d-flex.justify-content-between.align-items-center
              %a.nav-link.one-line-height{:href=>"#"}
                %i.material-icons
                  n
              %a{:href=>"/"}
                %img{:alt => "", :src => "/images/logo-no-tag.svg", :width => "118",}
              %a.nav-link.one-line-height.mobile-menu-toggle{:href=>"#"}
                %i.material-icons
                  clear
    .nav.flex-colum
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Real practice exams
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "/practice-exams"} 
            PMP Practice Exams
          %a.dropdown-item{:href => "/practice-exams"} 
            PMI-ACP Practice Exams
          %a.dropdown-item{:href => "/practice-exams"} 
            PMI-PBA Practice Exams
          %a.dropdown-item{:href => "/practice-exams"} 
            ITIL Practice Exams 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Live virtual classes
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "/live-virtual-classes"} 
            Live PMP Certification Classes
          %a.dropdown-item{:href => "/live-virtual-classes"} 
            Live PMI-ACP Classes
          %a.dropdown-item{:href => "/live-virtual-classes"} 
            Live ScrumMaster Classes
          %a.dropdown-item{:href => "/live-virtual-classes"} 
            Live Diciplines Agile Classes 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            On-demand courses
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand PMP Course
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand CAPM Course 
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand PMP-ACP Course 
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand PMP-PBA Course
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand POU Courses
          %a.dropdown-item{:href => "/on-demand-course"} 
            On Demand ITIL Foundation Course
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Corporate training
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Enroll Multiple Students
          %a.dropdown-item{:href => "#"} 
            Private Training Classes
          %a.dropdown-item{:href => "#"} 
            Partner Licensing Program
          %a.dropdown-item{:href => "#"} 
            Chapter Revenue Program 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            About
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Who We Are
          %a.dropdown-item{:href => "#"} 
            PM Training News
          %a.dropdown-item{:href => "#"} 
            Our Books and Websites
          %a.dropdown-item{:href => "#"} 
            Get Our Newsletter
          %a.dropdown-item{:href => "#"} 
            Contact Us
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            More
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Support
          %a.dropdown-item{:href => "#"} 
            PMP® Exam Updates
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{:href => "/welcome/login"}
          %span.text.link-color
            Student Log In 









#primary-header.d-none.d-lg-block
  #primary-pre-header
    .container
      .row.align-items-center
        .col-3
          .d-flex.justify-content-start
            %a{:href=>"/"}
              %img{:alt => "", :src => "/images/logo.svg", :width => "318",}
        .col
          .nav.justify-content-end.align-items-center
            %a.nav-link{:href=>"#"}
              PMP® Exam Updates
            %a.nav-link{:href=>"#"}
              Support
            %a.nav-link{:href=>"#"}
              %img{:alt => "", :src => "/images/pmi-badge-sm.png", :width => "40"}
            %a.nav-link.one-line-height{:href=>"/cart"}
              %i.material-icons-outlined
                shopping_cart
            %a.nav-link{:href=>"/welcome/login"}
              Log in
  #primary-sub-header
    .container
      .row.align-items-center
        .col
          .nav.justify-content-start.align-items-center
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Real practice exams
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "/practice-exams"} 
                  PMP Practice Exams
                %a.dropdown-item{:href => "/practice-exams"} 
                  PMI-ACP Practice Exams
                %a.dropdown-item{:href => "/practice-exams"} 
                  PMI-PBA Practice Exams
                %a.dropdown-item{:href => "/practice-exams"} 
                  ITIL Practice Exams 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Live virtual classes
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "/live-virtual-classes"} 
                  Live PMP Certification Classes
                %a.dropdown-item{:href => "/live-virtual-classes"} 
                  Live PMI-ACP Classes
                %a.dropdown-item{:href => "/live-virtual-classes"} 
                  Live ScrumMaster Classes
                %a.dropdown-item{:href => "/live-virtual-classes"} 
                  Live Diciplines Agile Classes 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                On-demand courses
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand PMP Course
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand CAPM Course 
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand PMP-ACP Course 
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand PMP-PBA Course
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand POU Courses
                %a.dropdown-item{:href => "/on-demand-course"} 
                  On Demand ITIL Foundation Course
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Corporate training
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  Enroll Multiple Students
                %a.dropdown-item{:href => "#"} 
                  Private Training Classes
                %a.dropdown-item{:href => "#"} 
                  Partner Licensing Program
                %a.dropdown-item{:href => "#"} 
                  Chapter Revenue Program 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                About
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  Who We Are
                %a.dropdown-item{:href => "#"} 
                  PM Training News
                %a.dropdown-item{:href => "#"} 
                  Our Books and Websites
                %a.dropdown-item{:href => "#"} 
                  Get Our Newsletter
                %a.dropdown-item{:href => "#"} 
                  Contact Us
                  