.mobile-header-container.fixed-top.d-block.d-lg-none
  .mobile-header
    .mobile-pre-header
      .container-fluid
        .row.align-items-center
          .col
            .d-flex.justify-content-between.align-items-center
              %a.nav-link.one-line-height{:href=>"#"}
                %i.material-icons
                  shopping_cart
              %a{:href=>"/"}
                %img{:alt => "", :src => "/images/logo-no-tag.svg", :width => "118",}
              %a.nav-link.one-line-height.mobile-menu-toggle{:href=>"#"}
                %i.material-icons
                  menu



.mobile-menu-container.d-block.d-lg-none.mobile-menu-hidden
  .mobile-menu.fixed-top
    .mobile-pre-header
      .container-fluid
        .row.align-items-center
          .col
            .d-flex.justify-content-between.align-items-center
              %a.nav-link.one-line-height{:href=>"#"}
                %i.material-icons
                  n
              %a{:href=>"/"}
                %img{:alt => "", :src => "/images/logo-no-tag.svg", :width => "118",}
              %a.nav-link.one-line-height.mobile-menu-toggle{:href=>"#"}
                %i.material-icons
                  clear
    .nav.flex-colum
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Real practice exams
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            PMP practice exams
          %a.dropdown-item{:href => "#"} 
            PMI-ACP practice exams
          %a.dropdown-item{:href => "#"} 
            PMI-ACP practice exams
          %a.dropdown-item{:href => "#"} 
            PMI-PBA practice exams
          %a.dropdown-item{:href => "#"} 
            ITIL practice exams 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Live virtual classes
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Live PMP certification classes
          %a.dropdown-item{:href => "#"} 
            Live PMI-ACP classes
          %a.dropdown-item{:href => "#"} 
            Live ScrumMaster classes
          %a.dropdown-item{:href => "#"} 
            Live diciplines agile classes 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            On-demand courses
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            On demand PMP course
          %a.dropdown-item{:href => "#"} 
            On demand CAPM course 
          %a.dropdown-item{:href => "#"} 
            On demand PMP-ACB course 
          %a.dropdown-item{:href => "#"} 
            On demand PMP-PBA course
          %a.dropdown-item{:href => "#"} 
            On demand POU courses
          %a.dropdown-item{:href => "#"} 
            On demand ITIL certification kit
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            Corporate training
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Enroll multiple students
          %a.dropdown-item{:href => "#"} 
            Private training classes
          %a.dropdown-item{:href => "#"} 
            Partner licensing program
          %a.dropdown-item{:href => "#"} 
            Chapter revenue program 
      .dropdown
        %a.nav-link.dropdown-toggle.d-flex.align-items-center.justify-content-between{"data-toggle" => "dropdown", :href => "#", "aria-expanded"=>"false"}
          %span.text
            About
          %i.material-icons
            chevron_right
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 
            Who we are
          %a.dropdown-item{:href => "#"} 
            PM training news
          %a.dropdown-item{:href => "#"} 
            Our books and websites
          %a.dropdown-item{:href => "#"} 
            Get our newsletter
          %a.dropdown-item{:href => "#"} 
            Contact us







#primary-header.fixed-top.d-none.d-lg-block
  #primary-pre-header
    .container
      .row.align-items-center
        .col-3
          .d-flex.justify-content-start
            %a{:href=>"/"}
              %img{:alt => "", :src => "/images/logo.svg", :width => "318",}
        .col
          .nav.justify-content-end.align-items-center
            %a.nav-link{:href=>"#"}
              PMP® Exam Updates
            %a.nav-link{:href=>"#"}
              Support
            %a.nav-link{:href=>"#"}
              %img{:alt => "", :src => "/images/pmi-badge-sm.png", :width => "40"}
            %a.nav-link.one-line-height{:href=>"#"}
              %i.material-icons
                shopping_cart
            %a.nav-link{:href=>"#"}
              Support
  #primary-sub-header
    .container
      .row.align-items-center
        .col
          .nav.justify-content-start.align-items-center
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Real practice exams
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  PMP practice exams
                %a.dropdown-item{:href => "#"} 
                  PMI-ACP practice exams
                %a.dropdown-item{:href => "#"} 
                  PMI-ACP practice exams
                %a.dropdown-item{:href => "#"} 
                  PMI-PBA practice exams
                %a.dropdown-item{:href => "#"} 
                  ITIL practice exams 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Live virtual classes
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  Live PMP certification classes
                %a.dropdown-item{:href => "#"} 
                  Live PMI-ACP classes
                %a.dropdown-item{:href => "#"} 
                  Live ScrumMaster classes
                %a.dropdown-item{:href => "#"} 
                  Live diciplines agile classes 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Real practice exams
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  License and Brand our Courseware
                %a.dropdown-item{:href => "#"} 
                  License and Brand our Courseware 
                %a.dropdown-item{:href => "#"} 
                  License and Brand our Courseware 
                %a.dropdown-item{:href => "#"} 
                  License and Brand our Courseware 
                %a.dropdown-item{:href => "#"} 
                  License and Brand our Courseware  
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                On-demand courses
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  On demand PMP course
                %a.dropdown-item{:href => "#"} 
                  On demand CAPM course 
                %a.dropdown-item{:href => "#"} 
                  On demand PMP-ACB course 
                %a.dropdown-item{:href => "#"} 
                  On demand PMP-PBA course
                %a.dropdown-item{:href => "#"} 
                  On demand POU courses
                %a.dropdown-item{:href => "#"} 
                  On demand ITIL certification kit
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Corporate training
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  Enroll multiple students
                %a.dropdown-item{:href => "#"} 
                  Private training classes
                %a.dropdown-item{:href => "#"} 
                  Partner licensing program
                %a.dropdown-item{:href => "#"} 
                  Chapter revenue program 
            .dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                About
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} 
                  Who we are
                %a.dropdown-item{:href => "#"} 
                  PM training news
                %a.dropdown-item{:href => "#"} 
                  Our books and websites
                %a.dropdown-item{:href => "#"} 
                  Get our newsletter
                %a.dropdown-item{:href => "#"} 
                  Contact us
                  

            




-# %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.marketing-header
-#   .container
-#     %a.navbar-brand{:href => "/"}
-#       %img{:alt => "", :height => "30", :src => "/images/logo.svg", :width => "125"}
-#     %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
-#       %span.navbar-toggler-icon
-#     #navbarSupportedContent.collapse.navbar-collapse
-#       %ul.navbar-nav.mr-auto
-#         %li.nav-item.active
-#           %a.nav-link{:href => "/market/about"}
-#             About
-#         %li.nav-item
-#           %a.nav-link{:href => "/#faq"} 
-#             FAQ
-#         %li.nav-item.dropdown
-#           %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
-#             Made for
-#           .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
-#             %a.dropdown-item{:href => "/market/for-buying-agents"} 
-#               Buying agents
-#             %a.dropdown-item{:href => "#"} 
-#               Selling agents
-#         %li.nav-item
-#           %a.nav-link{:href => "/market/listings"} 
-#             Listings
-#       %form.form-inline.my-2.my-lg-0
-#         .nav-item
-#           %a.nav-link{:href => "/welcome/login"} 
-#             Log in
-#         %a.btn.btn-secondary.my-2.my-sm-0.sign-up-btn{:href => "/welcome/sign-up"} 
-#           Sign up