.swiper.home-slider
  .swiper-wrapper
    -5.times do
      .swiper-slide
        %section.inverse-section.section-lg.banner{:style=>"background-image:url(/images/home/home-banner.jpg);"}
          .container
            .row.align-items-center 
              .col-xl-6.col-lg-10
                .content
                  %h1.bold-font.mb-4
                    Live PMP® Classes Taught Online by Veteran Instructors
                  %p.body-small.mb-2
                    %span.bold-font
                      Attend a live instructor PMP 
                    prep course from your personal computer
                  %p.body-small.mb-2
                    %span.bold-font
                      Flexible times and dates 
                    to meet busy work schedules
                  %p.body-small.mb-2
                    %span.bold-font
                      35 Contact hours, 
                    PDUs, all course materials, and software included in price
                  %p.body-small.mb-5
                    %span.bold-font
                      Less than half the cost 
                    of comparable classroom courses
                  .text-center.text-md-left
                    %a.btn-primary.btn{:href=>"/live-virtual-classes/schedule#schedule-and-pricing"}
                      Schedule and pricing
                      %i.material-icons
                        chevron_right
              .col-xl-6.col-lg-5
                %img.max-width.d-block.d-lg-none.home-mobile-hero-image.margin-auto{:src=>"/images/home/home-banner-mobile.png", :width=>"518px"}
  .swiper-button-prev
  .swiper-button-next
  .swiper-pagination