%section.off-white-bg.section-lg.banner.banner-light{:style=>"background-image:url(../images/corporate-training/banner-corporate-discounts.jpg);"}
	.container
		.row.align-items-center
			.col-xl-6.col-lg-7
				.content
					%h1.bold-font.mb-4
						Prepare Your Team to Succeed
					%p.body-large
						PMTraining offers private classes to organizations worldwide, both live on-site and live online training formats.
					%a.btn.btn-primary{:href=>"#start-now"}
						Start now
					.mt-4
						.media.align-items-center
							%img.align-self-center.mr-3{:src=>"../images/pmi-badge-circle.png", :width=>"80", :height=>"80" }
							.media-body
								%h6.mt-0.mb-0.bold-font
									Premier Authorized Training Partner (ATP) 
									%br
									of the Project Management Institute®


%section.section-lg
	.container
		.row.align-items-center
			.col-lg-5
				.mb-4.m-lg-0
					.mb-3
						%h4.bold-font
							Experts in Certification Training
					.mb-3
						%p
							Over 200 companies and 100,000+ students have relied on Project Management courseware and classes by PMTraining. Our expert instructors bring relevant, real-world experience to students using accredited, proven curriculums.
					.mb-4
						%p.bold-font
							Included with private classes by PMTraining:
					.mb-5
						%ul.list-unstyled.default-list
							-4.times do
								%li.body-small.mb-3
									Proven certification curriculum based on PMI global standards
					%a.bold-font{:href=>"#"}
						Register Now for PMP Practice Exams
						%i.material-icons.align-middle
							east
			.col-lg-7
				.text-center.text-lg-right
					%img.max-width{:src=>"../images/corporate-training/experts.png", :width=>"534"}

%section.section-lg.off-white-bg
	.container
		.row.align-items-center
			.col-lg-5.order-lg-2
				.mb-4.m-lg-0
					.mb-3
						%h4.bold-font
							Exceptional Tools with Every Class
					.mb-3
						%p
							All PMTraining classes include interactive, online tools that students can access from any device. Designed and developed exclusively by PMTraining, we ensure learning does not end when the class does.
					.mb-4
						%p.bold-font
							Included with private classes by PMTraining:
					.mb-5
						%ul.list-unstyled.default-list
							-4.times do
								%li.body-small.mb-3
									A personalized student portal that tracks individual performance
					%a.bold-font{:href=>"#"}
						Download a PDF Brochure
						%i.material-icons.align-middle
							east
			.col-lg-7.order-lg-1
				.text-center.text-lg-left
					%img.max-width{:src=>"../images/corporate-training/tools.png", :width=>"534"}
			


%section.section-lg
	.container
		.row.align-items-center
			.col-lg-5
				.mb-4.m-lg-0
					.mb-3
						%h4.bold-font
							Create a Team of Superstars
					.mb-3
						%p
							Ready to boost your team's performance? Let PMTraining help your organization become certified using standards that are relied on globally.
					.mb-4
						%a.bold-font{:href=>"#"}
							Contact Us to Learn More
							%i.material-icons.align-middle
								east
					%hr
					.mt-4
						.media
							%img.mr-4{:src=>"../images/quote.svg", :width=>"20"}
							.media-body
								%p.mb-2
									Great class, the exam prep portal was an amazing component in addition to the excellent class... A great combination.
								%p.body-small.bold-font.mb-0
									Bernard Gonzales
								%p.body-small.light-text-color
									(MBA, PMP)
			.col-lg-7
				.text-center
					%img.max-width{:src=>"../images/corporate-training/dude.png", :width=>"160"}
%section.section-lg.inverse-section#start-now
	.container
		.row
			.col-lg-6
				.mb-5
					%h4.bold-font
						Get started today
					%p.body-large
						Use the form below and a team member will personally follow up with training options that meet your needs.
			.col-lg-6
		.row
			.col-md-6
				%form
					.input-group.mb-3
						%input.form-control{:type=>"text", :placeholder=>"Email"}
					.input-group.mb-3
						%input.form-control{:type=>"text", :placeholder=>"Name"}
					.input-group.mb-3
						%input.form-control{:type=>"text", :placeholder=>"Company"}
					.input-group.mb-3
						%textarea.form-control{:type=>"text", :placeholder=>"Message", :rows=>"6"}
					%button.btn.btn-primary.btn-block{:type=>"button"}
						Submit
			.col-md-6
				.mt-5.mt-md-0
					.ml-3.mb-5.pl-5.border-left.border-link
						%p.bold-font.body-small
							Phone Contact
						%p.body-small
							Toll Free within U.S. (800) 581-9819
							%br
							International: +1 (240) 206-6049
					.ml-3.mb-5.pl-5.border-left.border-warning
						%p.bold-font.body-small
							Office Headquarters
						%p.body-small
							1023 Walnut St #100
							%br
							Boulder, CO 80302
					.ml-3.mb-4.pl-5.border-left.border-success
						%p.bold-font.body-small
							Mailing Address
						%p.body-small
							PMTraining
							%br
							2093 Philadelphia Pike #9038
							%br
							Claymont, DE 19703
