#primary-header{

	#primary-pre-header{
		background:white;
		border-bottom:1px solid $light-gray-color;
		padding: 8px 0;
		.nav{
			font-size: 14px;
			a.nav-link{
				color:$text-color;
				&:hover{
					color:$link-color;
				}
			}
		}
	}
}


#primary-sub-header{
	background:#F6F9FA;
	border-bottom: 3px solid $link-color;
		position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 999;
	.nav{
		position:relative;
		right:20px;
		font-size: 14px;
		a.nav-link{
			color:$text-color;
			padding:16px 24px;
		}


	}

	.dropdown:hover .nav-link {
		color:white;
		background:$link-color;
	}

	//dropdowns

	//show on hover
	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0px; // remove the gap so it doesn't close
	 }

	 .dropdown-menu{
	 	border-top: 3px solid $link-color;
	 	.dropdown-item{

	 	}
	 }
}

//primary mobile navbar
.mobile-header-container{
	z-index: 777;
}


//mobile menu that shows when clicking
.mobile-menu-container{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	height:100%;
	background:white;
	z-index: 888;
	.dropdown{
		display: block;
		width:100%;
		border-bottom:1px solid $light-gray-color;
		padding:8px 10px;
		.nav-link{
			color:$text-color;
		}
		.dropdown-menu{
			position:relative!important;
			transform:initial!important;
			box-shadow: none;
			width:100%;
		}
		&.show{
			i{
				 transform: rotate(90deg);
			}
		}
	}


}


//this is shared between the closed an open menu
.mobile-pre-header{
	background:white;
	border-bottom:1px solid $light-gray-color;
	padding: 8px 0;
	.nav-link{
		color:$text-color;
	}
}


.mobile-menu-hidden{
	display: none!important;
}

