%section
	.container
		.row
			.col
				.mb-5
					%h4.bold-font
						About the PMP certification
		.row
			.col-lg-2
				.mb-5
					%nav.flex-column.bold-font.nav-horz-tabbed
						%a.nav-link{:href=>"/about/who-we-are"}
							Who we are
						%a.nav-link{:href=>"#"}
							Our courseware
						%a.nav-link{:href=>"#"}
							Our customers
						%a.nav-link{:href=>"/about/books-and-websites"}
							More PM Training products
						%a.nav-link.active{:href=>"/about/about-the-certification"}
							About the PMP certification


			.col-lg-6
				%p.body-large.bold-font
					About the PMP Exam and Certification Testing
				-9.times do
					%p
						=lorem.paragraph
			.col-lg-4
				.p-0.p-md-4
					.mb-5
						%nav.flex-column.nav-horz-tabbed.border-left.sm
							%a.nav-link.active{:href=>"/about/who-we-are"}
								Overview
							%a.nav-link{:href=>"#"}
								What is the PMP Exam?
							%a.nav-link{:href=>"#"}
								Value of PMP Certification
							%a.nav-link{:href=>"/about/books-and-websites"}
								PMP Passing Scores & Averages
							%a.nav-link{:href=>"/about/about-the-certification"}
								PMP Exam Requirements
							%a.nav-link{:href=>"/about/about-the-certification"}
								PMP Certified Salaries
							%a.nav-link{:href=>"/about/about-the-certification"}
								Is PMP Certification Worth it?
							%a.nav-link{:href=>"/about/about-the-certification"}
								Cost of PMP Exam
							%a.nav-link{:href=>"/about/about-the-certification"}
								Benefits of PMP Certification