%section.pb-5
	.container
		.row
			.col
				.mb-5
					%h4.bold-font
						Questions or Feedback? Contact Us at Anytime
					
		.row
			.col-md-7
				%ul.list-unstyled.default-list
					%li.body-small.mb-3
						Interested in a corporate class, or volume purchase of our training tools?
					%li.body-small.mb-3
						Have a question about one of our courseware products?
					%li.body-small.mb-3
						Would you like to license or re-sell our courseware software?
					%li.body-small.mb-3
						For any and all inquiries, please use the form below.
			.col-md-5
				.card.shadow-elevation-1.p-3.icon-tr-card
					.card-body
						%p.body-large.bold-font
							Quick links
						%ul.list-unstyled.mb-0
							%li
								%a{:href=>"#"}
									%u
										Read our FAQ’s
							%li
								%a.text-underline{:href=>"#"}
									%u
										Forgot your password?
						%img.icon{:src=>"/images/icons/icon-support.svg"}
%section.section-lg.gradient-bg
	.container
		.row
			.col-md-7
				.card.checkout-card.mb-4
					.card-header
						.pt-1.pb-1
							%p.mb-0.body-small
								Use the Form to Contact Us
					.card-body
						%form
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Subject
								.col-sm-9
									%input.form-control.input-sm{:type=>"text"}
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Email
								.col-sm-9
									%input.form-control.input-sm{:type=>"text"}
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Name
								.col-sm-9
									%input.form-control.input-sm{:type=>"text"}
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Company
								.col-sm-9
									%input.form-control.input-sm{:type=>"text"}
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Phone
								.col-sm-9
									%input.form-control.input-sm{:type=>"text"}
							.form-group.row
								%label.col-sm-3.col-form-label.body-small.medium-font
									Message
								.col-sm-9
									%textarea.form-control.input-sm{:type=>"text", :rows=>"5"}
							.form-group.row
								.col-sm-3
								.col-sm-9
									%a.btn.btn-terciary.btn-block{:href=>"#"}
										Submit

			.col-md-5
				.mt-5.mt-md-0
					.ml-3.mb-5.pl-5.border-left.border-link
						%p.bold-font.body-small
							Phone Contact
						%p.body-small
							Toll Free within U.S. (800) 581-9819
							%br
							International: +1 (240) 206-6049
							%br
							Phone hours: 10AM to 9PM (EST), Monday - Friday
							%br
							Chat hours: 9AM to 11PM (EST), Monday - Friday
					.ml-3.mb-5.pl-5.border-left.border-warning
						%p.bold-font.body-small
							Mailing Address
						%p.body-small
							PMTraining
							%br
							2093 PHILADELPHIA PIKE #9038
							%br
							CLAYMONT, DE 19703
							%br
							Checks payable to SSI SOLUTIONS INC
						
							

