%section.pb-5
	.container
		.row
			.col-md-8
				.mb-5
					%h4.bold-font
						Project Management Articles, News, and Updates from PMTraining
				-20.times do
					.mb-5
						%h5.bold-font
							%a{:href=>"/about/single"}
								10 Project Management Stats All PMPs Should Know for 2022
						%p
							The world of project management is forever changing. The project management industry is constantly in flux from the emergence of more demand for remote work due to the COVID-19 pandemic to the consistent development of new software solutions.
						%a.btn.btn-terciary{:href=>"/about/single"}
							Read more
						%hr.mt-5

			.col-md-1
				
			.col-md-3
				.d-none.d-xl-block.sticky-top.pt-2{:style=>"z-index:0;"}
					%a{:href=>"#"}
						%img.max-width{:src=>"/images/about/promo.png", :width=>"250"}