%section
	.container
		.row
			.col-lg-6
				.mb-3
					%h4.bold-font
						Subscribe to PMTraining's Project Management Newsletter
					%p
						Receive valuable insights, articles, and discounts relevant to your certification.
				%form.mb-5
					.form-group
						%label.medium-font.body-small
							First name
						%input.form-control{:type => "text"}
					.form-group
						%label.medium-font.body-small
							Last name
						%input.form-control{:type => "text"}
					.form-group
						%label.medium-font.body-small
							Email
						%input.form-control{:type => "text"}
					.form-group
						%label.medium-font.body-small
							Title
						%input.form-control{:type => "text"}
					.form-group
						%label.medium-font.body-small
							Company
						%input.form-control{:type => "text"}
					.mt-4
						%a.btn.btn-terciary.btn-block{:href=>"#"}
							Submit
			.col-lg-1
			.col-lg-5
				.card.primary-knockout-card
					.card-body
						.text-center
							%img.max-width.mb-4{:src=>"/images/about/dude-sitting.png", :width=>"200"}
						.media.mb-4
							%img.mr-4{:src=>"/images/quote-white.svg", :width=>"20"}
							.media-body
								%p.mb-2.medium-font
									"I found the PMTraining tests to be one of the key factors in my passing the PMP. They allowed me to see where my weakness areas were via the progressing metrics, allowing me to strengthen my knowledge in all the chapters. Thank you."
								%img.mt-1.mb-2{:src=>"/images/5-star.svg"}
								%p.body-small.bold-font.mb-0
									Bernard Gonzales
								%p.body-small.light-text-color
									(MBA, PMP)
						.text-center
							%p.body-small.text-uppercase.medium-font.trusted-by-text
								Trusted by the world’s best companies
							.mt-4
								%img.max-width{:src=>"/images/about/logos-white.png", :width=>"307"}

		