%section.pb-5
	.container
		.row					
			.col-md-8
				.mb-5
					%p.bold-font
						%a{:href=>"/about/news"}
							PM Training News
					%h4.bold-font
						10 Project Management Stats All PMPs Should Know for 2022

				-10.times do
					%p
						=lorem.paragraph

			.col-md-1
				
			.col-md-3
				%a{:href=>"#"}
					%img.max-width{:src=>"/images/about/promo.png", :width=>"250"}