%section
	.container
		.row
			.col
				.mb-5
					%h1.h4.bold-font
						About PM Training
		.row
			.col-lg-2
				.mb-5
					%nav.flex-column.bold-font.nav-horz-tabbed
						%a.nav-link.active{:href=>"/about/who-we-are"}
							Who we are
						%a.nav-link{:href=>"#"}
							Our courseware
						%a.nav-link{:href=>"#"}
							Our customers
						%a.nav-link{:href=>"/about/books-and-websites"}
							More PM Training products
						%a.nav-link{:href=>"/about/about-the-certification"}
							About the PMP certification


			.col-lg-6
				%p.body-large.bold-font
					Since 2004, PMTraining has provided students with professional, high-quality methods of preparing for popular career certifications, including the (PMP)®.
				-9.times do
					%p
						=lorem.paragraph
			.col-lg-4
				.p-0.p-md-4
					%p.text-center
						TrustPilot widget
					%hr
					.mt-4
						.media.mb-4.align-items-center
							%img.mr-4{:src=>"/images/about/chris.png", :width=>"60"}
							.media-body
								%p.body-small.bold-font.mb-1
									Christopher Scordo PMP, ITIL
								%p.body-small.light-text-color.mb-0
									Founder, Managing Director
						%p.body-small
							Christopher Scordo (PMP, ITIL) is the Founder and Managing Director of PMTraining. He is the author of multiple best-selling exam prep books and is heavily involved in the innovative technology used to deliver PMTraining's online courseware, live classes, and publications.
						%p.body-small
							Under Christopher's direction, PMTraining's training platform and services are relied on by a global audience of more than 200 organizations including 105,000+ students. Mr. Scordo is a member of the Project Management Institute® (PMI), and has developed the content and tools used to prepare thousands of professionals.
						%p.body-small
							When he's not developing new training courseware, Christopher can be found trail running, traveling, and enjoying life with his wife, son, and daughter.