/ Swiper
- i = 1;
.swiper.base-slider.instructor-slider
  .swiper-wrapper
    -10.times do
      -i = i + 1
      .swiper-slide 
        .mb-2
          %img.max-width{:src=>"/images/tmp/instructor.png", :width=>"270"}
        .d-flex.align-items-center
          .name.mr-2
            %p.bold-font.mb-1
              =lorem.first_name
              %br
              =lorem.last_name
          .badge
            %img.max-width{:src=>"/images/pmi-badge-circle.png", :width=>"60"}
        %h6.light-text-color.mb-3
          (MBA, PMP)
        .wrapper
          .expandable-text-wrapper
            %input.exp{:type => "checkbox", :id=>"exp#{i}"}
            .expandable-text
              %label.expand-button.medium-font{:for => "exp#{i}"}
              =lorem.words(50)
          
  .swiper-button-next
  .swiper-button-prev