.card.border-bottom-card
  .card-body
    .p-4
      .row.align-items-center
        .col-md-4.text-left.text-md-center
          %img.mr-4.max-width.mb-4{:src=>"/images/tmp/instructor.png", :width=>"270"}
        .col-md-8
          %h5.bold-font
            Bernard Gonzales
          %p.body-small.light-text-color
            (MBA, PMP)
          %img.mb-3{:src=>"/images/pmi-badge-circle.png", :width=>"80", :height=>"80" }
          %p.light-text-color
            =lorem.words(40)