/ Swiper
.swiper.base-slider.instructor-slider
  .swiper-wrapper
    -10.times do
      .swiper-slide 
        .mb-2
          %img.max-width{:src=>"/images/tmp/instructor.png", :width=>"270"}
        .d-flex.align-items-center
          .name.mr-2
            %p.bold-font.mb-1
              =lorem.first_name
              %br
              =lorem.last_name
          .badge
            %img.max-width{:src=>"/images/pmi-badge-circle.png", :width=>"60"}
        %h6.light-text-color.mb-3
          (MBA, PMP)
        %p.body-small.light-text-color
          =lorem.words(40)
  .swiper-button-next
  .swiper-button-prev