%section
	.container
		.row
			.col
				.mb-3
					%p.text-center
						Access intensive course lessons without limitation.
				%p.text-center
					%a.btn-primary.btn.mr-2.btn-sm-block.mb-3.mb-md-0{:href=>"/cart"}
						Register now
					%a.btn-terciary.btn.btn-sm-block{:href=>"#"}
						Course demo

		.row.justify-content-center
			.col-md-10
				.mt-5
					.row
						.col-9
							.media
								%img.mr-4{:src=>"/images/quote.svg"}
								.media-body
									%h4.medium-font
										Great class, the exam prep portal was an amazing component in addition to the excellent class... A great combination.
									%p.body-large.bold-font.mb-0.link-color
										Bernard Gonzales
									%p.body-small.light-text-color
										(MBA, PMP)
						.col-3
							%img.max-width{:src=>"/images/quote-avatar-1.png", :width=>"229"}
		.row
			.col
				.mt-4.mb-4
					%p.light-text-color.text-center
						TrustPoilet Widget	