%section.inverse-section.section-lg
	.container
		.row.align-items-center
			.col-lg-6.col-md-7
				.text-md-left.text-center
					%h4.bold-font.mb-2
						At Your Desk or In Your Pocket
					%p.body-large
						Access this PMI-ACP On-Demand course from any connected device
					.mt-4.mb-4
						%p
							%a.btn-primary.btn.mr-2.btn-sm-block.mb-3.mb-md-0{:href=>"/cart"}
								Register now
							%a.btn-terciary.btn.btn-sm-block{:href=>"#"}
								Course demo
			.col-lg-6.col-md-5
				%img.align-self-center.full-width{:src=>"/images/responsive-suite.png", :width=>"544" }