#testimonials.anchor
%section.gradient-bg.section-lg
	.container
		.row
			.col
				.mb-5
					.d.flex.align-items-center.justify-content-between
						%h5.bold-font.d-inline
							What Our Students are Saying
						%h6.d-inline
							Trustpiolt badge
		.row
			.col
				=partial"/shared/testimonial-slider"