/ Swiper
.swiper.base-slider.testimonial-slider
  .swiper-wrapper
    -10.times do
      .swiper-slide 
        .card.border-bottom-card
          .card-body
            .p-4
              .media.mb-4.align-items-center
                %img.mr-4{:src=>"/images/testimonial-avatar.png", :width=>"50"}
                .media-body
                  .d-md-flex.align-items-center
                    %p.body-small.bold-font.mr-1.mb-md-0.mb-1
                      Bernard Gonzales
                    %h6.light-text-color.mb-0
                      (MBA, PMP)
                  .rating
                    %img{:src=>"/images/5-star.svg"}
              %p
                =lorem.words(40)
  .swiper-button-next
  .swiper-button-prev