@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
@media (max-width: 768px) {
  .text-left-sm {
    text-align: left !important; }
  .text-center-sm {
    text-align: center !important; } }

.primary-knockout-card h1, .course-detail-modal .modal-dialog .details-header h1, section.inverse-section h1, .primary-knockout-card h2, .course-detail-modal .modal-dialog .details-header h2, section.inverse-section h2, .primary-knockout-card h3, .course-detail-modal .modal-dialog .details-header h3, section.inverse-section h3, .primary-knockout-card h4, .course-detail-modal .modal-dialog .details-header h4, section.inverse-section h4, .primary-knockout-card h5, .course-detail-modal .modal-dialog .details-header h5, section.inverse-section h5, .primary-knockout-card h6, .course-detail-modal .modal-dialog .details-header h6, section.inverse-section h6, .primary-knockout-card p, .course-detail-modal .modal-dialog .details-header p, section.inverse-section p, .primary-knockout-card small, .course-detail-modal .modal-dialog .details-header small, section.inverse-section small, .primary-knockout-card li, .course-detail-modal .modal-dialog .details-header li, section.inverse-section li {
  color: white !important; }

* {
  margin: 0;
  padding: 0; }

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font: 100%;
  font-size: 16px;
  color: #222325;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 1.5rem;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-family: "museo_sans_500regular", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: #fff;
  position: relative; }
  @media (max-width: 992px) {
    body {
      padding-top: 60px; } }
.flex {
  display: flex; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.flex {
  display: flex; }

.eq {
  flex: 1; }

img {
  height: auto; }

.base-line-height {
  line-height: 16px; }

.one-line-height {
  line-height: 1; }

.small-line-height {
  line-height: 18px; }

.full-width {
  width: 100%; }

.max-width {
  max-width: 100%; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.jumbotron {
  background: #F7FBFC; }

.primary-bg {
  background-color: #083446 !important; }

.cursor-pointer {
  cursor: pointer; }

.helper-icon {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-left: 5px; }

.border-top, .border-bottom, .border-left, .border-right {
  border-color: #E6ECF1 !important; }

@media (max-width: 992px) {
  .no-border-md {
    border: none !important; } }

@media (max-width: 768px) {
  .no-border-sm {
    border: none !important; } }

.border-link {
  border-color: #138ABB !important; }

.border-success {
  border-color: #86C342 !important; }

.border-warning {
  border-color: #FFB30F !important; }

.attachment-grid {
  padding-left: 50px; }

.attachment-preview {
  position: relative;
  margin: 4px;
  padding: 8px;
  width: 120px;
  height: 75px;
  background: #222325;
  display: block;
  border-radius: 4px;
  border: 1px solid #E6ECF1;
  color: white; }
  .attachment-preview:hover {
    background: #2d2e30;
    text-decoration: none; }
    .attachment-preview:hover .title {
      color: white; }
    .attachment-preview:hover .remove {
      display: block; }
  .attachment-preview .remove {
    position: absolute;
    top: -10px;
    right: -10px;
    display: none; }
  .attachment-preview .type {
    position: absolute;
    bottom: 0px;
    left: 8px; }

.rounded {
  border-radius: 4px !important; }

.off-white-bg {
  background: #F7FBFC; }

@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans_100regular';
  src: url("../font/museosans-100-webfont.eot");
  src: url("../font/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans-100-webfont.woff") format("woff"), url("../font/museosans-100-webfont.ttf") format("truetype"), url("../font/museosans-100-webfont.svg#museo_sans_100regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans_300regular';
  src: url("../font/museosans-300-webfont.eot");
  src: url("../font/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans-300-webfont.woff") format("woff"), url("../font/museosans-300-webfont.ttf") format("truetype"), url("../font/museosans-300-webfont.svg#museo_sans_300regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans_500regular';
  src: url("../font/museosans_500-webfont.eot");
  src: url("../font/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_500-webfont.woff") format("woff"), url("../font/museosans_500-webfont.ttf") format("truetype"), url("../font/museosans_500-webfont.svg#museo_sans_500regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans_700regular';
  src: url("../font/museosans_700-webfont.eot");
  src: url("../font/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_700-webfont.woff") format("woff"), url("../font/museosans_700-webfont.ttf") format("truetype"), url("../font/museosans_700-webfont.svg#museo_sans_500regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans_900regular';
  src: url("../font/museosans_900-webfont.eot");
  src: url("../font/museosans_900-webfont.eot?#iefix") format("embedded-opentype"), url("../font/museosans_900-webfont.woff") format("woff"), url("../font/museosans_900-webfont.ttf") format("truetype"), url("../font/museosans_900-webfont.svg#museo_sans_900regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.text-uppercase {
  text-transform: uppercase; }

.extra-light-text-color {
  color: #C5D0DC !important; }

.light-text-color {
  color: #6F767D !important; }

.text-color {
  color: #222325 !important; }

.success-text-color {
  color: #86C342 !important; }

.dark-text-color {
  color: #393C3E !important; }

.primary-text-color {
  color: #083446 !important; }

.text-success {
  color: #86C342 !important; }

.text-warning {
  color: #FFB30F !important; }

.text-danger {
  color: #961F15 !important; }

.link-color {
  color: #138ABB; }

.light-font {
  font-weight: normal;
  font-family: 'museo_sans_100regular'; }

.regular-font {
  font-weight: normal;
  font-family: 'museo_sans_500regular'; }

.medium-font {
  font-weight: normal;
  font-family: 'museo_sans_700regular'; }

.bold-font {
  font-weight: normal;
  font-family: 'museo_sans_900regular'; }

.social-font {
  font-weight: normal;
  font-family: 'socialicoregular'; }

.primary-text-color {
  color: #083446 !important; }

.secondary-text-color {
  color: #FFBC00 !important; }

.micro-text {
  font-size: 0.7rem; }

h1 {
  font-size: 50px;
  line-height: 1.1em;
  font-weight: normal; }
  @media (max-width: 992px) {
    h1 {
      font-size: 44px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 34px; } }
h2 {
  font-size: 40px;
  line-height: 1.28em;
  font-weight: normal; }
  @media (max-width: 992px) {
    h2 {
      font-size: 36px; } }
  @media (max-width: 992px) {
    h2 {
      font-size: 32px; } }
h3 {
  font-size: 36px;
  line-height: 1.28em;
  font-weight: normal; }
  @media (max-width: 992px) {
    h3 {
      font-size: 32px; } }
  @media (max-width: 992px) {
    h3 {
      font-size: 28px; } }
h4 {
  font-size: 32px;
  line-height: 1.28em;
  font-weight: normal; }
  @media (max-width: 992px) {
    h4 {
      font-size: 28px; } }
  @media (max-width: 768px) {
    h4 {
      font-size: 24px; } }
h5 {
  font-size: 24px;
  line-height: 1.28em;
  font-weight: normal; }
  @media (max-width: 992px) {
    h5 {
      font-size: 18px; } }
h6 {
  font-size: 12px;
  line-height: 1.28em;
  font-weight: normal; }

@media (max-width: 992px) {
  p {
    font-size: 14px;
    line-height: 1.28em; } }

.body-micro {
  font-size: 12px;
  line-height: 1.28em;
  font-weight: normal; }

.body-small {
  font-size: 14px;
  line-height: 1.28em;
  font-weight: normal; }

.body-large {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: normal; }
  @media (max-width: 992px) {
    .body-large {
      font-size: 18px; } }
  @media (max-width: 768px) {
    .body-large {
      font-size: 16px; } }
ul.check-list {
  list-style: none;
  padding: 0; }
  ul.check-list li {
    font-size: 16px;
    padding-left: 1.3em;
    margin-bottom: 5px; }
    ul.check-list li:before {
      content: "check";
      /* FontAwesome Unicode */
      font-family: Material Icons;
      margin-left: -1.3em;
      /* same as padding-left set on li */
      width: 1.3em;
      /* same as padding-left set on li */
      position: relative;
      top: 4px;
      font-size: 20px;
      color: font-color; }

ul.icon-list li {
  font-size: 14px;
  line-height: 20px; }
  ul.icon-list li i {
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px; }

ul.icon-list-better li {
  line-height: 1.3rem;
  position: relative; }
  ul.icon-list-better li:before {
    font-family: 'material icons';
    content: 'check';
    color: #083446; }
  ul.icon-list-better li.no-deal {
    color: #6F767D; }
    ul.icon-list-better li.no-deal:before {
      color: #6F767D;
      content: 'clear'; }

.line-through {
  text-decoration: line-through; }

hr {
  border-color: #E6ECF1; }

.truncate-text {
  webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 100% !important; }

.read-more {
  overflow: hidden; }

@media (max-width: 768px) {
  .text-center-sm {
    text-align: center !important; } }

a {
  color: #138ABB; }
  a:hover {
    color: #0f6e96;
    text-decoration: none; }

a.link-underline {
  border-bottom: 1px solid #138ABB;
  padding-bottom: 5px; }

.btn {
  border-radius: 4px;
  font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  transition: none;
  padding: 10px 30px; }
  .btn .material-icons, .btn .material-icons-outlined {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
    font-size: 14px; }
  .btn.btn-lg {
    padding: .65rem 2rem;
    font-size: 16px; }
  .btn.btn-sm {
    padding: 4px 12px; }
  .btn.btn-sm-text {
    font-size: 14px; }
    .btn.btn-sm-text.dropdown-toggle:after {
      vertical-align: 0.10em; }
  .btn.btn-circle {
    border-radius: 100px; }
  .btn.btn-primary {
    background: #FFBC00;
    border-color: #FFBC00;
    color: #222325 !important; }
    .btn.btn-primary:hover {
      background: #e6a900;
      border-color: #e6a900; }
    .btn.btn-primary:active {
      background: #d9a000 !important;
      border-color: #d9a000 !important;
      color: #222325; }
  .btn.btn-secondary {
    background: white;
    border-color: #CEDAE3;
    color: #222325; }
    .btn.btn-secondary:hover {
      background: #f3f9fc;
      border-color: #C5D0DC;
      color: #0a455e; }
    .btn.btn-secondary:active {
      background: #eef7fa !important;
      color: #0a455e !important;
      border-color: #42a1c9 !important; }
    .btn.btn-secondary.disabled {
      border-color: #CEDAE3; }
  .btn.btn-terciary {
    background: #138ABB;
    border-color: #138ABB;
    color: white; }
    .btn.btn-terciary:hover {
      background: #117ca8;
      border-color: #117ca8;
      color: white; }
    .btn.btn-terciary:active {
      background: #10759f !important;
      border-color: #10759f !important; }
  .btn.btn-danger {
    background: #961F15;
    border-color: #961F15; }
    .btn.btn-danger:hover {
      background: #871c13;
      border-color: #871c13; }
  .btn.btn-success {
    background: #86C342;
    border-color: #86C342; }
    .btn.btn-success:hover {
      background: #79b03b;
      border-color: #79b03b; }
  .btn.btn-warning {
    background: #FFB30F;
    border-color: #FFB30F;
    color: white; }
    .btn.btn-warning:hover {
      background: #e6a10e;
      border-color: #e6a10e; }
  .btn.btn-flat {
    background: transparent;
    border-color: white;
    color: #222325; }
    .btn.btn-flat:hover {
      background: #f3f9fc;
      border-color: #C5D0DC;
      color: #0a455e;
      border-color: white; }
    .btn.btn-flat:active {
      background: #eef7fa !important;
      color: #0a455e !important;
      border-color: #42a1c9 !important; }
  .btn.btn-wire {
    background: transparent;
    border-color: white;
    color: white; }
    .btn.btn-wire:hover {
      background: #117ca8;
      border-color: #117ca8; }
  .btn.btn-link {
    color: #138ABB; }
    .btn.btn-link:hover {
      color: #117ca8; }
  .btn.btn-icon {
    padding-left: 20px;
    padding-right: 5px; }
    .btn.btn-icon i, .btn.btn-icon .material-icons {
      font-size: 30px !important; }
  .btn:focus {
    outline: none;
    box-shadow: none !important; }

.close {
  color: #222325;
  opacity: .8; }

.tooltip {
  margin-bottom: 4px;
  font-size: 12px; }

@media (max-width: 768px) {
  .btn-sm-block {
    display: block;
    width: 100%; } }

.margin-auto {
  margin: 0 auto; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.double-margin-top {
  margin-top: 32px !important; }

.double-margin-right {
  margin-right: 32px !important; }

.double-margin-bottom {
  margin-bottom: 32px !important; }

.double-margin-left {
  margin-left: 32px !important; }

.triple-margin-top {
  margin-top: 48px !important; }

.triple-margin-right {
  margin-right: 48px !important; }

.triple-margin-bottom {
  margin-bottom: 48px !important; }

.triple-margin-left {
  margin-left: 48px !important; }

.half-margin-top {
  margin-top: 8px !important; }

.half-margin-right {
  margin-right: 8px !important; }

.half-margin-bottom {
  margin-bottom: 8px !important; }

.half-margin-left {
  margin-left: 8px !important; }

.quarter-margin-top {
  margin-top: 4px !important; }

.quarter-margin-right {
  margin-right: 4px !important; }

.quarter-margin-bottom {
  margin-bottom: 4px !important; }

.quarter-margin-left {
  margin-left: 4px !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.large-margin-top {
  margin-top: 48px !important; }

.padded {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.double-padded {
  padding: 32px !important; }

.double-padding-top {
  padding-top: 32px !important; }

.double-padding-right {
  padding-right: 32px !important; }

.double-padding-bottom {
  padding-bottom: 32px !important; }

.double-padding-left {
  padding-left: 32px !important; }

.triple-padding-top {
  padding-top: 48px !important; }

.triple-padding-right {
  padding-right: 48px !important; }

.triple-padding-bottom {
  padding-bottom: 48px !important; }

.triple-padding-left {
  padding-left: 48px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.half-padding {
  padding: 8px !important; }

.half-padding-top {
  padding-top: 8px !important; }

.half-padding-right {
  padding-right: 8px !important; }

.half-padding-bottom {
  padding-bottom: 8px !important; }

.half-padding-left {
  padding-left: 8px !important; }

.quarter-padding {
  padding: 4px !important; }

.quarter-padding-top {
  padding-top: 4px !important; }

.quarter-padding-right {
  padding-right: 4px !important; }

.quarter-padding-bottom {
  padding-bottom: 4px !important; }

.quarter-padding-left {
  padding-left: 4px !important; }

.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

@media (max-width: 768px) {
  .no-padding-sm {
    padding: 0 !important; } }

section {
  padding: 32px 0; }
  section.section-lg {
    padding: 64px 0; }
    @media (max-width: 768px) {
      section.section-lg {
        padding: 32px 0; } }
  section.inverse-section {
    background-color: #0a455e; }
    section.inverse-section .success-text-color {
      color: #c3e1a1 !important; }
    section.inverse-section a {
      color: #89c5dd; }
      section.inverse-section a:hover {
        color: #b8dceb; }
  section.off-white-bg {
    background-color: #F7FBFC; }
  section.gradient-bg {
    background-image: linear-gradient(0deg, #FFFFFF 0%, #F9FCFD 100%); }

section.banner {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1200px) {
    section.banner .content {
      padding: 30px;
      padding-left: 0;
      background-color: rgba(10, 69, 94, 0.9); } }
  @media (max-width: 992px) {
    section.banner .content {
      padding: 30px; } }
  @media (max-width: 768px) {
    section.banner {
      background-image: none !important; }
      section.banner .content {
        padding: 0; } }
  @media (max-width: 1200px) {
    section.banner.banner-light .content {
      background-color: rgba(247, 251, 252, 0.9); } }
.diag-banner-bg {
  background-image: linear-gradient(90deg, #0B7099 0%, #138ABB 71%);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50% - 68px);
  right: 0;
  background-size: cover;
  clip-path: polygon(100% 313%, 100% 0%, 0% 0%); }

.play-video:hover img {
  transform: scale(1.05); }

.play-video img {
  transition-duration: .2s; }
  @media (max-width: 768px) {
    .play-video img {
      width: 300px; } }
table.community-average-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  border: none !important; }
  table.community-average-table thead tr th {
    border: none !important; }
  table.community-average-table tbody tr {
    border: none;
    background: #F0F8FB;
    border-radius: 10px; }
  table.community-average-table tbody td {
    border: none !important;
    vertical-align: middle;
    padding: 10px 15px;
    font-family: 'museo_sans_500regular'; }
    table.community-average-table tbody td.number {
      font-size: 16px;
      color: #041a23;
      font-weight: 700; }
    table.community-average-table tbody td.item {
      font-size: 18px;
      color: #171717;
      font-weight: 400; }
    table.community-average-table tbody td.data {
      font-size: 18px;
      color: #138ABB;
      font-weight: 700; }
  table.community-average-table.stack tr:nth-child(1) td {
    padding: 30px 15px !important;
    font-size: 18px; }
  table.community-average-table.stack tr:nth-child(2) td {
    padding: 25px 15px !important;
    font-size: 17px; }
  table.community-average-table.stack tr:nth-child(3) td {
    padding: 20px 15px !important;
    font-size: 16px; }
  table.community-average-table.stack tr:nth-child(4) td {
    padding: 15px 15px !important;
    font-size: 15px; }
  table.community-average-table.stack tr:nth-child(5) td {
    padding: 10px 15px !important;
    font-size: 14px; }
  table.community-average-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  table.community-average-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }

.pm-table-wrapper th {
  border: 1px solid #E6ECF1;
  border-top: none;
  border-bottom-width: 1px !important;
  font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif; }
  .pm-table-wrapper th:first-of-type {
    border-left: none; }
  .pm-table-wrapper th:last-of-type {
    border-right: none; }

.pm-table-wrapper table.table {
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #E6ECF1; }
  .pm-table-wrapper table.table td {
    line-height: 1.3em; }
  .pm-table-wrapper table.table td, .pm-table-wrapper table.table th {
    padding: 15px; }
  .pm-table-wrapper table.table.table-bordered td, .pm-table-wrapper table.table.table-bordered th {
    border-color: #E6ECF1; }
  .pm-table-wrapper table.table.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f3f9fc; }
  .pm-table-wrapper table.table.mid-align td {
    vertical-align: middle; }
  .pm-table-wrapper table.table.bold-table {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 10px; }
  .pm-table-wrapper table.table.table-bordered td:first-of-type {
    border-left: none; }
  .pm-table-wrapper table.table.table-bordered td:last-of-type {
    border-right: none; }

td.flash-sale {
  background: #083446 !important;
  color: white; }
  td.flash-sale .flash-title {
    color: #fff0cf;
    font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif; }
  td.flash-sale .flash-counter {
    opacity: .8; }

.table-primary, .table-primary th {
  background-color: #e7f3f8; }

.base-slider {
  padding: 0 16px !important; }
  .base-slider .swiper-button-next, .base-slider .swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #E6ECF1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); }
    .base-slider .swiper-button-next:after, .base-slider .swiper-button-prev:after {
      font-family: 'Material Icons';
      color: #138ABB;
      font-weight: normal;
      font-style: normal;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      font-size: 20px; }
  .base-slider .swiper-button-next {
    right: 0; }
    .base-slider .swiper-button-next:after {
      content: "chevron_right"; }
  .base-slider .swiper-button-prev {
    left: 0; }
    .base-slider .swiper-button-prev:after {
      content: "chevron_left"; }
  .base-slider .card {
    border-radius: 8px;
    min-height: 350px; }
    @media (max-width: 992px) {
      .base-slider .card {
        min-height: auto; } }
.instructor-slider .swiper-button-next, .instructor-slider .swiper-button-prev {
  top: 200px; }

.anchor {
  padding-top: 50px;
  margin-top: -50px; }

.curriculum-accordian {
  border: none; }
  .curriculum-accordian .card {
    border: none;
    margin: 10px; }
    .curriculum-accordian .card .card-header {
      cursor: pointer;
      background: #F7FBFC;
      border: none;
      padding: 20px;
      padding-left: 60px;
      position: relative;
      font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif; }
      .curriculum-accordian .card .card-header:before {
        content: "remove";
        position: absolute;
        top: calc(50% - 10px);
        left: 25px;
        font-family: 'Material Icons';
        color: #138ABB;
        font-weight: normal;
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased; }
      .curriculum-accordian .card .card-header.collapsed {
        font-family: "museo_sans_500regular", Helvetica, Arial, sans-serif; }
        .curriculum-accordian .card .card-header.collapsed:before {
          content: "add";
          color: #6F767D; }
    .curriculum-accordian .card .card-body {
      background: #F7FBFC;
      padding-left: 65px;
      padding-top: 0;
      padding-bottom: 30px; }
  .curriculum-accordian .curriculum-accordian-inner .card {
    margin: 0; }
    .curriculum-accordian .curriculum-accordian-inner .card .card-header {
      padding: 10px;
      padding-left: 30px;
      font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif; }
      .curriculum-accordian .curriculum-accordian-inner .card .card-header:before {
        left: 0px;
        top: calc(50% - 12px); }
      .curriculum-accordian .curriculum-accordian-inner .card .card-header.collapsed {
        font-family: "museo_sans_500regular", Helvetica, Arial, sans-serif; }
    .curriculum-accordian .curriculum-accordian-inner .card .card-body {
      padding-bottom: 10px;
      padding-left: 30px; }

.page-nav-wrapper-outer {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  display: block;
  clear: both; }
  @media (max-width: 992px) {
    .page-nav-wrapper-outer {
      top: 59px; } }
  .page-nav-wrapper-outer .page-nav-wrapper {
    background: white;
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    top: 0;
    z-index: 2;
    transition: all .3s ease;
    position: relative; }
    @media (max-width: 992px) {
      .page-nav-wrapper-outer .page-nav-wrapper .page-nav {
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        display: block; } }
    .page-nav-wrapper-outer .page-nav-wrapper .page-nav a.nav-link {
      font-size: 14px;
      padding: 25px 20px;
      color: #222325; }
      @media (max-width: 992px) {
        .page-nav-wrapper-outer .page-nav-wrapper .page-nav a.nav-link {
          display: inline-block;
          padding: 15px 10px;
          font-size: 12px; } }
      .page-nav-wrapper-outer .page-nav-wrapper .page-nav a.nav-link.active {
        font-family: "museo_sans_900regular", Helvetica, Arial, sans-serif;
        color: #138ABB; }
      .page-nav-wrapper-outer .page-nav-wrapper .page-nav a.nav-link:hover {
        color: #138ABB; }
      .page-nav-wrapper-outer .page-nav-wrapper .page-nav a.nav-link:first-of-type {
        margin-left: 0; }
    .page-nav-wrapper-outer .page-nav-wrapper .page-nav.tabbed a.nav-link.active {
      border-bottom: 3px solid #138ABB; }
  .page-nav-wrapper-outer .action-container {
    opacity: 0;
    transition-duration: .3s; }
    @media (max-width: 992px) {
      .page-nav-wrapper-outer .action-container .btn {
        font-size: 12px;
        padding: 8px;
        width: 136px; } }
  .page-nav-wrapper-outer.show-actions .action-container {
    opacity: 1; }

.nav-horz-tabbed a.nav-link {
  padding: 0rem 1rem;
  padding-right: 0;
  margin: 0 0 1.5rem 0;
  line-height: 1; }
  .nav-horz-tabbed a.nav-link.active {
    color: #222325;
    border-left: 4px solid #138ABB; }

.course-detail-modal .modal-dialog {
  max-width: 950px; }
  .course-detail-modal .modal-dialog .modal-content {
    border-radius: 10px;
    overflow: hidden; }
  .course-detail-modal .modal-dialog .close-button {
    padding: 10px;
    border-radius: 100px;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 99; }
  .course-detail-modal .modal-dialog .details-header {
    background-color: #0a455e; }
    .course-detail-modal .modal-dialog .details-header .success-text-color {
      color: #c3e1a1 !important; }
    .course-detail-modal .modal-dialog .details-header a {
      color: #89c5dd; }
      .course-detail-modal .modal-dialog .details-header a:hover {
        color: #b8dceb; }
    @media (max-width: 768px) {
      .course-detail-modal .modal-dialog .details-header {
        padding-bottom: 100px; } }
  .course-detail-modal .modal-dialog .price-card {
    margin-top: -300px;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      .course-detail-modal .modal-dialog .price-card {
        margin-top: -120px; } }
.form-control {
  border-radius: 4px;
  border-color: #E6ECF1; }
  .form-control:focus {
    box-shadow: none;
    border-color: #138ABB; }

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbdbe;
  opacity: 1;
  /* Firefox */ }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bdbdbe; }

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bdbdbe; }

.card-info {
  position: absolute;
  top: 0px;
  right: 0px; }
  .card-info img {
    width: 250px; }
  @media (max-width: 1200px) {
    .card-info {
      top: 20px;
      right: 20px; } }
  @media (max-width: 992px) {
    .card-info {
      top: 20px;
      right: 20px; }
      .card-info img {
        width: 200px; } }
  @media (max-width: 768px) {
    .card-info {
      position: relative;
      top: 5px;
      right: 0; }
      .card-info img {
        width: 275px;
        margin: 0 auto;
        text-align: center; } }
.alert-success {
  border-color: #86C342;
  background-color: #f3f9ec; }

.card {
  border-color: #E6ECF1; }

.border-bottom-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-bottom: 4px solid #138ABB; }

.shadow-elevation-1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }

.shadow-elevation-2 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }

.shadow-elevation-3 {
  box-shadow: 0 8px 48px -4px rgba(16, 19, 54, 0.24); }

.checkout-card {
  border-color: #C5D0DC !important; }
  .checkout-card .card-header, .checkout-card .card-body {
    border-color: #C5D0DC !important; }
  .checkout-card .card-header {
    background-color: #F0F7FF; }
  .checkout-card .card-body {
    background-color: #FBFDFF; }

.primary-knockout-card {
  background: #138ABB;
  border-radius: 15px; }
  .primary-knockout-card .card-body {
    padding: 50px; }
  .primary-knockout-card .trusted-by-text {
    opacity: .7;
    letter-spacing: 1px; }

.icon-tr-card .card-body {
  position: relative; }
  .icon-tr-card .card-body .icon {
    position: absolute;
    top: 0;
    right: 0; }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #222325;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700; }
  .avatar.avatar-xs {
    width: 34px;
    height: 34px;
    font-size: 13px;
    line-height: 34px; }
  .avatar.avatar-micro {
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold; }
  .avatar.avatar-xl {
    width: 80px;
    height: 80px;
    font-size: 34px;
    line-height: 80px; }
  .avatar.avatar-rounded {
    border-radius: 4px; }

.avatars-list .avatar {
  margin-left: -8px;
  border: 2px solid white;
  cursor: pointer; }
  .avatars-list .avatar:first-of-type {
    margin-left: 0; }
  .avatars-list .avatar.avatar-xs {
    width: 34px;
    height: 34px; }

.btn-group.show .btn.dropdown-action {
  background: #eef7fa !important;
  color: #0a455e !important;
  border-color: #42a1c9 !important; }

.dropdown-visible {
  display: block; }

.dropdown-toggle:after {
  content: none; }

.dropdown-menu {
  box-shadow: 0 8px 48px -4px rgba(16, 19, 54, 0.24);
  border: none;
  border-radius: 0; }
  .dropdown-menu .dropdown-item {
    color: #222325;
    font-size: 14px;
    padding: 10px 30px; }
    .dropdown-menu .dropdown-item:hover {
      color: #138ABB;
      background: transparent; }
    .dropdown-menu .dropdown-item:active {
      background: #ebeeef;
      color: #222325; }
    .dropdown-menu .dropdown-item.active {
      background: #F7FBFC;
      box-shadow: inset 3px 0 0 #138ABB;
      color: #393C3E; }
      .dropdown-menu .dropdown-item.active:hover {
        background: #F7FBFC; }
    .dropdown-menu .dropdown-item i {
      vertical-align: middle;
      line-height: 0 !important;
      position: relative;
      top: -2px;
      font-size: 20px;
      left: -5px; }
    .dropdown-menu .dropdown-item .icon-left {
      margin-right: 12px; }

.max-height-dropdown {
  overflow-y: scroll;
  background: white;
  max-height: 300px; }

ul.timeline-list li {
  padding-left: 20px;
  position: relative; }
  ul.timeline-list li:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #138ABB;
    left: 0;
    top: 7px; }
  ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 34px;
    background: #d0e8f1;
    left: 2.5px;
    top: 7px; }
  ul.timeline-list li:last-of-type:before {
    display: none; }

ul.default-list li {
  padding-left: 40px;
  position: relative; }
  ul.default-list li:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: #138ABB;
    left: 0;
    top: 7px; }

#primary-header #primary-pre-header {
  background: white;
  border-bottom: 1px solid #C5D0DC;
  padding: 8px 0; }
  #primary-header #primary-pre-header .nav {
    font-size: 14px; }
    #primary-header #primary-pre-header .nav a.nav-link {
      color: #222325; }
      #primary-header #primary-pre-header .nav a.nav-link:hover {
        color: #138ABB; }

#primary-header #primary-sub-header {
  background: #F6F9FA;
  border-bottom: 3px solid #138ABB; }
  #primary-header #primary-sub-header .nav {
    position: relative;
    right: 20px; }
    #primary-header #primary-sub-header .nav a.nav-link {
      color: #222325;
      padding: 16px 24px; }
  #primary-header #primary-sub-header .dropdown:hover .nav-link {
    color: white;
    background: #138ABB; }
  #primary-header #primary-sub-header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px; }
  #primary-header #primary-sub-header .dropdown-menu {
    border-top: 3px solid #138ABB; }

.mobile-header-container {
  z-index: 777; }

.mobile-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: white;
  z-index: 888; }
  .mobile-menu-container .dropdown {
    display: block;
    width: 100%;
    border-bottom: 1px solid #C5D0DC;
    padding: 8px 10px; }
    .mobile-menu-container .dropdown .nav-link {
      color: #222325; }
    .mobile-menu-container .dropdown .dropdown-menu {
      position: relative !important;
      transform: initial !important;
      box-shadow: none;
      width: 100%; }
    .mobile-menu-container .dropdown.show i {
      transform: rotate(90deg); }

.mobile-pre-header {
  background: white;
  border-bottom: 1px solid #C5D0DC;
  padding: 8px 0; }
  .mobile-pre-header .nav-link {
    color: #222325; }

.mobile-menu-hidden {
  display: none !important; }

.primary-footer {
  padding: 64px 0;
  background-color: #F7F8FA;
  border-top: 4px solid #138ABB; }
  .primary-footer ul.social-menu li {
    font-size: 30px; }
  .primary-footer ul li a:hover {
    color: #138ABB !important; }

@media (max-width: 992px) {
  img.home-mobile-hero-image {
    width: 400px; } }

@media (max-width: 768px) {
  img.home-mobile-hero-image {
    width: 300px; } }

@keyframes menu-zoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-24px) scale3d(0.9, 0.9, 0.9);
    transform: translateY(-24px) scale3d(0.9, 0.9, 0.9); }
  50% {
    opacity: 1; } }

.login-form {
  max-width: 500px; }
