;;;
	"title": "Home"
;;;


%section.inverse-section.section-lg.banner{:style=>"background-image:url(../images/home/home-banner.jpg);"}
	.container
		.row.align-items-center
			.col-xl-6.col-lg-7
				%h1.bold-font.mb-4
					Live PMP® Classes Taught Online by Veteran Instructors
				%p.body-small.mb-2
					%span.bold-font
						Attend a live instructor PMP 
					prep course from your personal computer
				%p.body-small.mb-2
					%span.bold-font
						Flexible times and dates 
					to meet busy work schedules
				%p.body-small.mb-2
					%span.bold-font
						35 Contact hours, 
					PDUs, all course materials, and software included in price
				%p.body-small.mb-5
					%span.bold-font
						Less than half the cost 
					of comparable classroom courses
				.text-center.text-md-left
					%a.btn-primary.btn{:href=>"/welcome/sign-up"}
						Schedule and pricing

			.col-xl-6.col-lg-5
				%img.max-width.d-block.d-lg-none.home-mobile-hero-image.margin-auto{:src=>"../images/home/home-banner-mobile.png", :width=>"518px"}

%section
	.container
		.row
			.col
				%p.body-small.text-center.light-text-color
					Trusted by the smartest teams in the world
				%img.text-center.full-width.d-none.d-md-block{:src=>"../images/home/logos.png"}
				%img.text-center.full-width.d-block.d-md-none.mt-5{:src=>"../images/home/logos-mobile.png"}


%section.off-white-bg.section-lg
	.container
		.row.align-items-center
			.col-lg-6.col-md-4
				%img.full-width{:src=>"../images/home/podcast.png"}
			.col-lg-6.col-md-8
				.p-4
					%img.mb-4{:src=>"../images/home/new-podcast.svg"}
					%p.body-large.bold-font
						Hear how Atkins Global leveraged PMTraining for their organization
					%p.light-text-color
						Featured on PMI's "Projectified" podcast, hear how PMTraining helps companies standardize their team performance with certification training.
					%a.btn-terciary.btn{:href=>"/welcome/sign-up"}
						Play now
%section.section-lg
	.container
		.row
			.col
				.mb-5
					%p.body-large.bold-font
						Awards and Accolades
		.row
			-4.times do
				.col-6.col-lg-3
					.text-center
						%img.mb-4{:src=>"../images/home/award.png", :width=>"158px"}
						%p.body-small.bold-font
							\#1 Live Online PMP Class of 2021
						%p.body-small.light-text-color
							\By Project Management Institute

%section.off-white-bg.section-lg
	.container
		.row.align-items-center
			.col
				%p.light-text-color.text-center
					TrustPoilet Widget	  


%section.section-lg.pb-0
	.container
		.row.align-items-center
			.col-lg-6
				.p-lg-5
					%h3
						Live Community
						%br 
						%span.bold-font
							Performance PMP Exam 
					%p.body-large.light-text-color.mb-4
						Live calculation of the top 5 PMP process areas based on 670,516 PMP practice exams taken by PMTraining exam prep students.
					%p.bold-font
						%a{:href=>"#"}
							Register for PMP Practice Exams
							%i.material-icons.align-middle
								east
			.col-lg-6
				=partial'/home/preformance-table'



%section.section-lg
	.container
		.row.align-items-center
			.col-lg-6.order-lg-2
				.p-lg-5
					%h3
						Community Performance 
						%br 
						%span.bold-font
							By Subject Area
					%p.body-large.light-text-color.mb-4
						Live calculation of PMP Test Simulation Questions maybe some additional text explaining
					%p.bold-font
						%a{:href=>"#"}
							Register Now for PMP Practice Exams
							%i.material-icons.align-middle
								east
			.col-lg-6.order-lg-1
				=partial'/home/preformance-table-2'



-# %img.hidden{:src=>"/images/featured.png", :style=>"display:none;"}

-# %section.hero-section
-# 	.container
-# 		.row.align-items-center
			
-# 			.col-md-6.order-md-2
-# 				.padded
-# 					%img.full-width.mb-3.mb-lg-0{:src=>"/images/marketing/home-hero.png"}
-# 			.col-md-6.order-md-1
-# 				%h1.bold-font.mb-4
-# 					Super impactful headline here
-# 				%p.body-large.light-text-color.mb-4
-# 					Trustworthy home buying through offer transparency.
-# 				%a.btn-primary.btn{:href=>"/welcome/sign-up"}
-# 					Get started
-# %section.off-white-bg.no-padding-bottom
-# 	.container
-# 		.row.align-items-center
			
-# 			.col-lg-7
-# 				.d-flex.justify-content-center.justify-content-lg-start
-# 					%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/agent-with-offers.png", :width=>"483px"}
-# 			.col-lg-5
-# 				%h3.bold-font.mb-4
-# 					See every offer, know where you stand
-# 				%p.body-large.light-text-color.mb-5
-# 					Our Offer Transparency Platform shows details of each offer. Knowing where you stand amongst the competition allows informed, custom-tailored offers to meet what’s most important to the seller, and *most comfortable for the buyer. 
-# %section.pb-0
-# 	.container
-# 		.row.align-items-center
-# 			.col
-# 				.d-flex.justify-content-center.mt-5
-# 					.d-inline.mr-5.text-center.text-xl-left
-# 						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
-# 						%p.body-large.bold-font.d-xl-inline.d-lg-block
-# 							Never Bid Against Yourself	
-# 					.d-inline.mr-5.text-center.text-xl-left
-# 						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
-# 						%p.body-large.bold-font.d-xl-inline.d-lg-block
-# 							Built By Agents
-# 					.d-inline.text-center.text-xl-left
-# 						%img.mr-2.mb-xl-0.mb-2{:src=>"/images/marketing/check-lg.svg", :width=>"56px"}
-# 						%p.body-large.bold-font.d-xl-inline.d-lg-block
-# 							Eliminates Blind Bidding 

-# %section
-# 	.container
-# 		.row.align-items-center
			
-# 			.col-lg-6.order-lg-2
-# 				.d-flex.justify-content-center.justify-content-lg-end
-# 					.padded
-# 						%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/do-you-trust.png", :width=>"492px"}
-# 			.col-lg-6.order-lg-1
-# 				%h3.bold-font.mb-4
-# 					Do you trust the blind bid process?
-# 				%ul.list-unstyled
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								Biggest financial decision most will ever make
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								We wouldn’t blindly buy a car
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								“Give us your best offer by 4pm,” should be flushed
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								Lack of clarity and trust with high pressure


-# %section.off-white-bg
-# 	.container
-# 		.row
-# 			.col
-# 				%h4.bold-font.mb-4.text-center
-# 					A platform buyers, sellers and agents trust
-# 		.row.align-items-center.mt-5
-# 			.col-lg-4
-# 				.media
-# 					%img.mr-4{:src=>"/images/marketing/icon-agents.svg", :width=>"48px"}
-# 					.media-body
-# 						%p.bold-font.mb-2
-# 							For Licensed Agents
-# 						%p.body-small.light-text-color
-# 							Builds confidence and trust with buyers and sellers
-# 			.col-lg-4
-# 				.media
-# 					%img.mr-4{:src=>"/images/marketing/icon-check.svg", :width=>"48px"}
-# 					.media-body
-# 						%p.bold-font.mb-2
-# 							Verified Offers Only
-# 						%p.body-small.light-text-color
-# 							All offers are vetted and verified prior to posting
-# 			.col-lg-4
-# 				.media
-# 					%img.mr-4{:src=>"/images/marketing/icon-notifications.svg", :width=>"48px"}
-# 					.media-body
-# 						%p.bold-font.mb-2
-# 							Offer Notifications
-# 						%p.body-small.light-text-color
-# 							Instant notifications with every new and updated offer


-# %section
-# 	.container
-# 		.row.align-items-center
			
-# 			.col-lg-6.order-lg-2
-# 				.d-flex.justify-content-center.justify-content-lg-end
-# 					.padded
-# 						%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/img-ui-1.png", :width=>"492px"}
-# 			.col-lg-6.order-lg-1
-# 				%h3.bold-font.mb-4
-# 					A Successful Real Estate Transaction Ends With:
-# 				%ul.list-unstyled
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								The Seller’s priorities met
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								The winning Buyer has NO remorse
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								All non-winning Buyers knew where they stood
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								The Selling Agent communicated equally with all
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								The Buying Agents had the info to strategize next moves
-# 					%li.media
-# 						%img.mr-3.mt-2{:src=>"/images/marketing/dot.svg", :width=>"10px"}
-# 						.media-body
-# 							%p.body-large.light-text-color
-# 								Everyone had a equal playing field and positive experience


-# %section.inverse-section.house-bg-1
-# 	.container
-# 		.row.align-items-center
			
-# 			.col-lg-7
-# 				.d-flex.justify-content-center.justify-content-lg-start
-# 					%img.max-width.mb-5.mb-lg-0{:src=>"/images/marketing/change.svg", :width=>"574px"}
-# 			.col-lg-5
-# 				%p.body-large
-# 					At TruHome Value, we believe the market itself reveals a home’s true value and agents who use blind bid tactics are relying on a buyer’s stress, fear, and uncertainty to extract a maximum price for the seller. This is no way to conduct business - ever.
-# 				%p.body-large
-# 					Sellers and buyers agents recognize an active transparent bidding process between motivated buyers sets the offer both the seller and buyer are confident accepting. Big reveal, it’s not always the highest price.


-# %section.off-white-bg#faq
-# 	.container
-# 		.row
-# 			.col-lg-4
-# 				%h3.bold-font.mb-5
-# 					Frequently asked questions
-# 			.col-lg-8
-# 				#accordionExample.accordion.accordion-default
-# 					.card
-# 						#headingOne.card-header.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
-# 							%h5
-# 								Im a question someone want’s to know?
-# 						#collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
-# 							.card-body.pt-0
-# 								%p.light-text-color.mb-0
-# 									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.
-# 					.card
-# 						#headingTwo.card-header.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
-# 							%h5
-# 								Im a question someone want’s to know?
-# 						#collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
-# 							.card-body.pt-0
-# 								%p.light-text-color.mb-0
-# 									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.
-# 					.card
-# 						#headingThree.card-header.collapsed{"aria-controls" => "collapsethree", "aria-expanded" => "false", "data-target" => "#collapsethree", "data-toggle" => "collapse"}
-# 							%h5
-# 								Im a question someone want’s to know?
-# 						#collapsethree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
-# 							.card-body.pt-0
-# 								%p.light-text-color.mb-0
-# 									At TruHome Value we’re seeking to revolutionize the real estate industry by disrupting the real estate buying/selling process. Companies like Zillow, Redfin.

-# 					